[2020-04-15 07:09] elsalahy opened #9 "Requirements & HW design and analysis"
**Summary:**

In this issue, we will focus on the requirements and HW design discussions and decisions listed [here](https://docs.google.com/document/d/1uNo-S7Ira4nNGCa1hytD-3bpl88cEuzDf0obQHhSrfw/edit?usp=sharing).

This issue will act as an umbrella, linking to other discussion issues of the device subelements such as sensors, power supply design and enclosure design.

[2020-04-15 07:14] elsalahy opened #1 "Enclosure design"
**Summary:**

This issue is focused on the design decisions around the Enclosure.
Some options are highlighted [here](https://docs.google.com/document/d/1qyBAUIzWNSahUHv01PVcVd_tSYzteUCp8ml0c8gzf3E/edit?usp=sharing).

[2020-04-15 07:17] elsalahy opened #8 "Power supply design"
**Summary:**

Power supply design discussions and decisions.

edit by @azerimaker:

Step-down regulator choices:

- [TPS62840DLCR](http://www.ti.com/product/TPS62840)
  - Iq -120 nA (quiescent current)
  - Input range 1.8 to 6.5V
  - Price 0.62$ from TI (1K+)
  - Features: PFM/PWM, RUN/STOP modes (high-level power saving modes)

- [BD70522GUL](https://www.rohm.com/products/power-management/switchi

[2020-04-15 07:22] elsalahy opened #2 "Sensors design"
**Summary:**

Sensors options and device design discussions and decisions.

[2020-04-20 17:46] azerimaker opened #5 "STM32WL SoC Package Selection: QFN-48 vs. BGA-73"
**ST is now offering in two different package types for the STM23WL SoC.**
Part numbers:
BGA-73: STM32WL55JCU6
QFN-48: STM32WLxx_QFN48

**Why do we need decide?**
This will be a deciding factor affecting the final PCB cost.

**BGA-73**
Pros:
- Offers 43 IO pins
- Smaller package (5mm x 5mm)

Cons:
- Cost of PCB fabrication goes high (see the comparison quotes below)
- Hard to visually inspect and

[2020-04-21 12:21] azerimaker opened #6 "Antenna Selection"
**Summary:**
Antenna is often neglected, but one of the most important part of the circuit. Here we'll discuss trade-offs and options in choosing antenna for our node.

**Antenna types**

**Performance analysis**

**Trade-offs**

[2020-04-21 13:08] azerimaker opened #10 "Generic Module vs. Generic Node"
**Summary:**
Here I would like to discuss the possibility of designing our own[ standalone module](https://emcfastpass.com/rf-modules/).
It would combine the ST SoC, Secure Element, Flash Memory, power supply circuitry (PMIC) and would support **FUOTA**.  We can then build application specific nodes and demo boards around it.

Couple of examples:

- [nRF91 LTE-M, NB-IoT SiP](https://www.nordicsemi

[2020-04-22 13:46] wienke opened #3 "List of use cases"
Here a list of all potential use cases for the Generic Node:

- Room temperature with ~1 error margin
- Cold chain for fridges
- Condensator monitoring of fridges
- Retrofit mouse/rat traps
- Condition monitoring of moving goods like temperature, direction of the box and fall detection
- Orientation of valves
- Soap dispenser usages
- Door usage
- Window/Door open or closed
- Usage of high value t

[2020-04-22 14:13] azerimaker opened #4 "UX Discussions"
**Summary:**
Considering the impact level we want to achieve, we need to have a simple, yet reliable user interface. We have following options in this regard:

**Physical Button & Visual Feedback (RGB LED)**

_Pros:_
  - Big push buttons like is typically favored by the users (maybe not in industrial settings)
  - Tactile feedback is one of the most satisfactory form of input for a user

 _Cons:_

[2020-05-07 07:20] elsalahy opened #7 "Use cases requirements"
Use cases provided in TheThingsIndustries/st-node#3 require deeper investigation to ensure the device design is equipped with the required sensors, enclosures and mounting solutions that allow it to achieve the required use case.

Currently, the device design is still under development and can change dramatically rendering this issue irrelevant.

Currently proposed design:
**Sensors**: Acceleromet

[2020-05-15 08:14] #8 closed, assigned to azerimaker, elsalahy

[2020-05-15 08:15] #10 closed, assigned to azerimaker, wienke, johanstokking, elsalahy

[2020-05-15 09:52] elsalahy opened #11 "Admin structuring"
**Summary:**

We need admin privileges/actions for structuring purposes:
- Set `develop` branch as the default branch
- Allow only pull request to be merged to `develop` default branch (baby proof the branch)
- Should not allow force pushing/modifying `develop` branch without a pull request.
- Lock `master` branch and allow only merges from the `develop` branch

**Why do we need this?**

To add mo

[2020-05-18 08:17] #11 closed, assigned to johanstokking

[2020-05-26 04:14] elsalahy opened #12 "Development board node FW emulation"
**Summary:**

With the HW design decisions taken in #9, we will start to produce the initial device prototypes.
To allow for parallel FW development progress and avoid waiting on prototypes, we will emulate the node components, connections and behaviour by using the **NUCLEO-WL55JC** development board.

This is an umbrella issue linking to all relevant emulation issues.

**Why do we need this?**

[2020-05-26 04:27] elsalahy opened #13 "WL SOC GNU ARM compiler support"
**Summary:**

We need an ARM GCC WL SOC startup file and linker script to avoid using IAR toolchain.

**Why do we need this?**

To avoid using IAR or MDK licensed toolchains.

**What is already there? What do you see now?**

IAR startup assembly files.

**What is missing? What do you want to see?**

[GNU ARM](https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-too

[2020-05-26 04:29] #13 closed, assigned to elsalahy

[2020-05-26 04:37] elsalahy opened #14 "Initial environment setup"
**Summary:**

Setup a bare-metal environment for compiling applications for the NUCLEO-WL55JC.

**Why do we need this?**

To build applications for the NUCLEO-WL55JC development board.

**What is already there? What do you see now?**

IAR toolchain environment files.

**What is missing? What do you want to see?**

Initial CMAKE build environment

**How do you propose to implement this?**

Write CM

[2020-05-26 04:41] #14 closed, assigned to elsalahy

[2020-05-26 04:58] elsalahy opened #15 "Integrate ATECC608A-TNGLORA with NUCLEO-WL55JC"
**Summary:**

Integrate ATECC608A-TNGLORA with the ST WL SOC NUCLEO-WL55JC development board.

**Why do we need this?**

To allow for parallel development until we have a HW prototype of the new node.

**What is already there? What do you see now?**

https://github.com/TheThingsNetwork/lorawan-example-atecc608a-tnglora

**What is missing? What do you want to see?**

Integration of the secure eleme

[2020-05-26 05:06] elsalahy opened #16 "Integrate an external SPI flash with NUCLEO-WL55JC"
**Summary:**

We need to Add integration of an external SPI flash to the NUCLEO-WL55JC board.

**Why do we need this?**

To be able to develop the FW in parallel to the HW development.

**What is already there? What do you see now?**

- SPI example applications.

**What is missing? What do you want to see?**

- NUCLEO-WL55JC SPI configurations.
- External flash integration.
- SFDP compatible examp

[2020-05-29 08:38] azerimaker opened #17 "Debug Port Definition"
**Summary:**
In the old GN there were 3 different debug port options, one with generic header (w/ UART pins), one with Tag-Connect (SWD only), and the third was only UART pins.

...

**Why do we need this?**
To be able to use standard connector that comes with ST-linkv3 and later make it easy to program/debug the device

...

**What is already there? What do you see now?**
10-pin ARM connector doe

[2020-06-08 07:38] #15 closed, assigned to elsalahy

[2020-06-09 06:16] #16 closed, assigned to elsalahy

[2020-06-09 06:26] elsalahy opened #18 "Integrate LIS2DH12 Accelerometer driver with NUCLEO-WL55JC"
**Summary:**

Add initial LIS2DH12 Accelerometer driver support to accelerate application development when the HW prototype is ready.

**Why do we need this?**

To accelerate application development and testing when the HW prototype is ready.

**What is already there? What do you see now?**

- [ST open source bare-metal driver implementation](https://github.com/STMicroelectronics/STMems_Standard_C

[2020-06-09 06:39] elsalahy opened #19 "Integrate SHTC3 humidity and temperature sensor driver with NUCLEO-WL55JC"
**Summary:**

We need to add bare-metal support of SHTC3 sensor to the NUCLEO-WL55JC board as a preparation for the HW prototype.

**Why do we need this?**

- To be able to build and test application with this specific sensor.

**What is already there? What do you see now?**

[Example and drivers.]https://github.com/Sensirion/embedded-sht)

**What is missing? What do you want to see?**

Integratin

[2020-06-10 08:33] #19 closed, assigned to elsalahy

[2020-06-10 13:29] #18 closed, assigned to elsalahy

[2020-06-16 06:43] elsalahy opened #21 "Design and implement an initial board support package"
**Summary:**

Implement a board support package based on the requirements and the new schematics design.

**Why do we need this?**

To be able to control the various on board components.

**What is already there? What do you see now?**

A simple design for the Nucleo board.
 [nucleo.h](https://github.com/elsalahy/NUCLEO-WL55JC/blob/master/include/stm32wlxx_nucleo.h) and [nucleo.c](https://github.c

[2020-06-18 14:42] #17 closed, assigned to azerimaker

[2020-06-22 13:31] elsalahy opened #22 "Initial Buzzer APIs & Library"
**Summary:**

The HW design takes advantage of an on board buzzer.
We need to build Application programming interfaces (APIs) to control the buzzer at the application layer.

**Why do we need this?**

To control the buzzer in the application layer.

**What is already there? What do you see now?**

GPIO and PWM examples.

**What is missing? What do you want to see?**

a Library that allows controll

[2020-06-22 14:08] elsalahy opened #23 "Initial Battery Voltage Monitoring APIs"
**Summary:**

Design and implement an initial battery voltage monitoring APIs that allow the application layer to get the information on the battery voltage.

**Why do we need this?**

So that the application is able to monitor battery voltage level.

**What is already there? What do you see now?**

ADC examples.

**What is missing? What do you want to see?**

- Proper ADC pin configuration
- Batt

[2020-06-22 14:25] elsalahy opened #24 "Initial Load switch control APIs"
**Summary:**

The schematics design utilises 3 load switches to control the sensors, flash and secure element respectively.

**Why do we need this?**

To control the power delivered to the various on-board sensors and components.

**What is already there? What do you see now?**

GPIO APIs

**What is missing? What do you want to see?**

Board APIs that allow controlling the load switches.

**How do

[2020-06-25 13:20] azerimaker opened #25 "Prepare SMD Soldering Setup"
**Summary:**

Gather all the necessary parts, like reflow oven, solder paste, bare PCBs, stencil, components and pick-n-place guide. Once everything comes together we'll do manual soldering of 2x+3x boards.

...

**Why do we need this?**

I firmly believe that bringing up the first prototype with manual soldering and step-by-step testing will allow us to easily locate any kind of bug that might ex

[2020-07-01 11:39] azerimaker opened #27 "PCB layout and Fabrication files for v.0.1"
**Summary:**

Create optimized PCB layout for the v.0.1 hw rev and export all the necessary fabrication files in gerber format.
...

**Steps to Reproduce:**

KiCAD's built-in plotting tool with default settings were used and the exported gerber files are verified with 3rd party tool (gerbv.exe).

**What do you see now?**

...

**What do you want to see instead?**

...

**How do you propose to impl

[2020-07-01 13:42] elsalahy opened #28 "V0.1 HW acceptance testing"
**Summary:**

With the arrival of the node V0.1 PCB, we need to test the first prototype to ensure it is an acceptable prototype that can be used in the development of the device firmware.

The PCB is expected to arrive by 3rd of July and will be soldered and prepared internally for testing and development.

**Why do we need this?**

To ensure we have a valid HW platform that allows for applicatio

[2020-07-03 09:32] #27 closed, assigned to azerimaker

[2020-07-09 09:40] #25 closed, assigned to azerimaker

[2020-07-20 15:37] elsalahy opened #29 "[BSP] Add battery monitor ADC initialization"
**Summary:**

Add battery monitor ADC pin init to `STNODE_BSP_BM_Init` function

**Why do we need this?**

To initialize the pin and read the battery voltage

**What is already there? What do you see now?**

- Function structure
- GPIO initialisation of reading enable pin

**What is missing? What do you want to see?**

- ADC init for the PIN
- ADC de-init for the PIN

**How do you propose to imple

[2020-07-20 15:46] elsalahy opened #30 "[BSP] Add serial buses PIN mapping and support functions"
**Summary:**

Need to add BSP support for the PIN mapping of serial communication pins and their support functions (init() and de-init)
- [x] UART
- [x] I2C1
- [ ] I2C2
- [x] SPI

**Why do we need this?**

To support com ports initialisation from the BSP lib.

**What is already there? What do you see now?**

- PIN mapping for GPIO PINS (LEDS, load switches)
- BSP initial structure

**What is missi

[2020-07-22 07:36] #21 closed, assigned to elsalahy

[2020-07-22 07:36] #23 closed, assigned to elsalahy

[2020-07-22 07:36] #24 closed, assigned to elsalahy

[2020-07-23 10:08] #12 closed, assigned to elsalahy

[2020-07-31 11:46] elsalahy opened #33 "[Minor_Improvement] Add I2C multi sensor single bus init and de-init functtions"
**Summary:**

Sensor I2C init functions can call BSP init, or the BSP init can be called alone.
Need to add a handling for the senors init functions in case multiple sensors are on the same bus, in order to ensure only one BSP init is called.

**Why do we need this?**

To avoid un-needed re-iinit of the bus and have a coherant implementation.

**What is already there? What do you see now?**

Templ

[2020-08-03 08:30] azerimaker opened #35 "[HW] Initial RF Performance Testing and ANT Tuning Report on ST-Node-V0.1"
**Summary:**

Initial RF performance testing and antenna tuning which was conducted on 30.07.2020 in **Lacuna Space** office.

- First part: RF output testing power in +14 dBm and +22 dBm power levels
- Second part of the test: Basic antenna tuning by incrementally adjusting the matching network.

**Why do we need this?**

To test the RF performance of the system and do incremental tuning to impro

[2020-08-03 08:33] elsalahy opened #36 "Advanced v1.1 HW testing"
**Summary:**

With the testing of the initial prototypes taking place in #28

We need to move forward and do more advanced testing.
This issue is an umbrella for the planned activities and also separate issues can be opened and linked here.
We can close this issue after the activities are done and we attach a conclusion report.

**Why do we need this?**

To ensure a stable product before moving fo

[2020-08-03 08:50] elsalahy opened #37 "Integrate Sensors & flash drivers"
**Summary:**

Integrate the drivers of these components into our repo.

- [x] Tracer (with UART)
- [x] SHTC3 (with I2C1)
- [x] LIS2DH12 (with I2C1)
- [ ] ATECC608A (with I2C2)
- [x] MX25R1635 (with SPI)
- [ ] SX1262 (with SPI)

**Why do we need this?**

To be able to build applications that use these components.

**What is already there? What do you see now?**

- Tracer (with UART) in #32
- SHTC3

[2020-08-03 11:13] elsalahy opened #38 "[Improvement] Have a matching commenting style of imported libs and drivers"
**Summary:**

In case in the future if we need to generate a doxygen reference, we will need to ensure all libs and drivers have similar commenting style to ensure the coherency and consistency of the auto generated reference doc.

**Why do we need this?**

To have a better overall documentation.

**What is already there? What do you see now?**

Our source code has a simple commenting stye.

**Wha

[2020-08-07 16:19] elsalahy opened #39 "[Future_Improvment] Increase I2C and SPI communication frequency"
**Summary:**

In the upcoming changes, we should consider increasing the serial bsuses communication frequency to ensure the node goes to sleep for longer periods and the sensor/flash commands are done faster.

**Why do we need this?**

To have a faster system and increase sleep time.

**What is already there? What do you see now?**

Slow frequency configurations.

**What is missing? What do you w

[2020-08-07 16:26] elsalahy opened #40 "[FLASH_SPI] Add support for HW CS"
**Summary:**

Currently, we use SW CS as a normal GPIO to intiate the SPI transfers to the external flash.

**Why do we need this?**

To have faster SPI transfers and fully utilize the SOC features.

**What is already there? What do you see now?**

SW GPIO control of the CS pin.

**What is missing? What do you want to see?**

HW control of the SPI core.

**How do you propose to implement this?**

[2020-08-10 07:22] elsalahy opened #42 "FW development platform"
**Summary:**

This issue is to discuss possible platforms and environments that we could investigate/develop around the ST node FW.

Actions will be taken based on this discussion and separate issues will be opened and linked to this issue.

[2020-08-10 09:17] azerimaker opened #44 "[HW] Version 0.2 updates"
**Summary:**

In this issue I'd like to discuss what type of changes we should implement on the next revision (0.2) of GN. I'll include some of the feedback from our inner-circle reviews.

**Cont. updated list of improvements:**

**_1. HW improvements to be implemented:_**

- [x] Industrial operating temperature range (−40 ° to 85 °C): verify for each component
- [x] Easy flashing options: over se

[2020-08-11 10:51] azerimaker opened #46 "[Equipment] Power Analyser Options"
**Summary:**

In this issue I'd like to open a short discussion on deciding which power analysis tool we should get for our mini-lab setup. Currently we have an Atmel Power Debugger with limited measurement range, but it would be more beneficial in the long run if we can get more precise power analyzer device.

**Why do we need this?**

To better analyze power consumption and low power performance

[2020-08-12 07:50] elsalahy opened #47 "Integrate latest ST HAL and CMSIS v0.7"
**Summary:**

Update our repo to use the latest FW package 0.7 released by ST 0n 04/08/2020

**Why do we need this?**

To use the latest hal and avoid debugging solved issues.

**What is already there? What do you see now?**

ST STM32WL 0.4 hal layer release dated back in December of 2019.

**What is missing? What do you want to see?**

Updated HAL and CMSIS

**How do you propose to implement this

[2020-08-13 11:26] #47 closed, assigned to elsalahy

[2020-08-13 13:21] #28 closed, assigned to azerimaker, elsalahy

[2020-08-17 12:01] azerimaker opened #49 "[Sensor] Proximity Sensor Discussion"
**Summary:**

For the first production run of GN adding one more sensor we should consider is the **Proximity sensor**.
There are multiple methods to for proximity sensing and some of those are:

- Inductive
- Capacitive
- Ultrasonic
- Passive Infrared
- ***Reflective Infrared**
- ***Time-of-flight (ToF)**

Each of above mentioned methods has its own niche applications and I believe for our use ca

[2020-08-17 12:51] azerimaker opened #50 "[Feedback] Collection of HW Design Reviews from our "inner circle""
**Summary:**

This issue is the collection of all the feedback from our inner circle reviewers.
______________________________________________

**1. Fabien Ferrero**

Usually, I would recommend adding more vias on the ground plane. Especially on the board edge.
The antenna is going to generate strong current on the ground plane, it is important to avoid any zig-zag to radiate max power.
I'm surpri

[2020-08-21 09:18] elsalahy opened #52 "CMAKE per App compilation system"
**Summary:**

As the repo will have multiple apps using the same set of libraries, we need to add support in the CMAKE for compiling one specific app with the relevant libs that support this app.

**Why do we need this?**

- To be able to add more apps.
- To reduce compilation overhead.
- Reduce the number of changes to the main CMAKE.

**What is already there? What do you see now?**

A general pu

[2020-08-21 09:19] #22 closed, assigned to elsalahy

[2020-08-21 09:34] elsalahy opened #53 "Basic LoRaWAN App"
**Summary:**

Will add support of a basic LoRaWAN app, based on ST example.
The app will provide the absolute minimum functionality of a LoRaWAN app.

**Why do we need this?**

- To be able to join the network and send and receive uplinks and downlinks.
- Test the LoRa transceiver functionality and performance.

**What is already there? What do you see now?**

- ST provides a Bare-metal example th

[2020-09-01 16:03] elsalahy opened #55 "ATECC608A-TNGLORA Integration into basic apps"
**Summary:**

Add basic apps support for ATECC608A-TNGLORA.

**Why do we need this?**

To be able to use the board with and without the secure element.

**What is already there? What do you see now?**

A [feature](https://github.com/TheThingsIndustries/st-node/tree/feature/Basic-ATECC608) branch with fully functional secure element test.

**What is missing? What do you want to see?**

Integration

[2020-09-01 16:16] #35 closed, assigned to azerimaker

[2020-09-03 07:39] elsalahy opened #56 "LoRaWAN apps EUI and keys handling"
**Summary:**

In the case of not using a secure element.
We need to Improve user experience with EUI and Keys handling for LoRaWAN apps.

**Why do we need this?**

For the user to be able to edit the EUIs and keys in a straight forward manner.

**What is already there? What do you see now?**

Confusing commissioning file used by the ST LMN port.

**What is missing? What do you want to see?**

- A

[2020-09-07 10:47] elsalahy opened #57 "System Wide control APIs"
**Summary:**

We need to have a system wide control APIs that allow us to
- Initialize the system clock
- Initialize the system debug interfaces
- Initialize relevant sensors
- Handle multiple error levels based on the severity of the error.

**Why do we need this?**

To avoid code replication and follow the DRY principle in the application development.

**What is already there? What do you see no

[2020-09-09 07:39] #52 closed, assigned to elsalahy

[2020-09-09 07:39] #53 closed, assigned to elsalahy

[2020-09-15 06:21] azerimaker opened #58 "[HW] Custom Battery Holder PCB for BoLink Enclosure"
**Summary:**

Since we all sort of agreed to continue with the [Bopla enclosure](https://www.bopla.de/en/enclosure-technology/product/bolink/bolink-enclosures/bl-704025-wl2-do-9003.html), it requires slightly different design approach to accommodate **2xAA** :battery:. The new design will be 2 board design, the second board being a simple **battery holder PCB** with a connector wire extending to t

[2020-09-18 16:00] elsalahy opened #60 "I2C2 and UART interference issue"
**Summary:**

The device (V0.1) halts when we are transmitting data via UART and I2C2.

**Steps to Reproduce:**

1. Add print functions around I2C2 transmissions
2. Observe the console output and the device behavior

**What do you see now?**

![image](https://user-images.githubusercontent.com/24204263/93618999-5276f000-f9d8-11ea-99e5-51440c8f26cf.png)

System halt due to a SW or HW issue.

**What

[2020-09-30 07:46] azerimaker opened #62 "[Improvement] Need to update naming for the Generic Node project tree."
**Summary:**

Since we are sticking with the "Generic Node" name, we should clear "ST-node" name from old project files and folder names.

**Why do we need this?**

I just pushed battery holder files with a new name: Generic_Node-BatteryHolder, and currently the [respective branch](https://github.com/TheThingsIndustries/st-node/tree/HW/Battery-Holder-PCB/Hardware) looks like this.
![gh-naming](htt

[2020-09-30 08:40] #30 closed, assigned to elsalahy

[2020-09-30 08:40] #37 closed, assigned to elsalahy

[2020-09-30 11:15] elsalahy opened #63 "Increase compilation speed"
**Summary:**

Need to increase the compilation speed of our repo.

**Why do we need this?**

After we added all the libraries, the compilation time takes around 1 min for a full build after a clean.
This is not ideal in development and unit testing.

**What is already there? What do you see now?**

Slow compilation of all the files and libraries.

**What is missing? What do you want to see?**

Fas

[2020-09-30 11:25] elsalahy opened #64 "Docker container for image compilation"
**Summary:**

We can have a docker container integration to reduce the number of tools that the user need to install when they use our repository.
The user should be able to build our repo on any operating system without needing to install any compilers, make or CMAKE tools.
They should only need to install docker and be able to build a binary for the device easily.

**Why do we need this?**

To h

[2020-09-30 11:43] elsalahy opened #65 "bare-metal system calls and system memory interfaces"
**Summary:**

Need to add BM system calls and heap allocation functions for handling system level operations.

**Why do we need this?**

To handle heap allocation and the OS compatibility layer

**What is already there? What do you see now?**

Semi-hosting uses the GCC compiler internal implementation for the heap allocation and system management.

**What is missing? What do you want to see?**

Th

[2020-09-30 12:12] elsalahy opened #66 "Compatibility with STM32Cube IDE"
**Summary:**

We need to add compatibility with STM32Cube IDE

**Why do we need this?**

To have a better developer experience with the support of multiple development environments and finally increase the adoption.

**What is already there? What do you see now?**

VS Code IDE support

**What is missing? What do you want to see?**

STM32Cube IDE support

**How do you propose to implement this?**

[2020-10-01 13:53] elsalahy opened #68 "basic bare-metal bootloader"
**Summary:**

Building a basic boot-loader with simple application jump.

**Why do we need this?**

To be able to develop a FUOTA application.

**What is already there? What do you see now?**

STM32 examples for the L4 and WL chips

**What is missing? What do you want to see?**

Implementing a basic boot-loader that jumps to a specific application address

**How do you propose to implement this?**

[2020-10-01 14:20] elsalahy opened #69 "basic FUOTA"
**Summary:**

A FUOTA feature will be a great addition to the set of available applications.

**Why do we need this?**

A critical system and LoRaWAN feature that will allow for the adaption of the device and showcases the potential of LoRaWAN.

**What is already there? What do you see now?**

- Example implementation for the older generic node.
- ST FUOTA demo

**What is missing? What do you want

[2020-10-06 06:53] #65 closed, assigned to elsalahy

[2020-10-07 19:32] #60 closed, assigned to azerimaker, elsalahy

[2020-11-05 10:00] elsalahy opened #73 "board interfaces"
**Summary:**

Currently the APIs for controlling the board components can be considered low level and they provide great flexibility.
We can probably add multiple high level interfaces like.

`GNSE_Init()`
`GNSE_Sleep()`
`GNSE_Sensors_Init()`

**Why do we need this?**

To reduce code clutter and improve readability and application development experience.

**What is already there? What do you see n

[2020-11-05 10:28] elsalahy opened #74 "V0.2 bsp"
**Summary:**

Update BSP to be compatible with V0.2 new schematics.

**Why do we need this?**

To be able to use the repository drivers and interfaces with v0.2 schematics

**What is already there? What do you see now?**

V0.1 functional support

**What is missing? What do you want to see?**

V0.2 new schematics and connections support

**How do you propose to implement this?**

- Review latest sc

[2020-11-05 10:41] elsalahy opened #75 "Advanced bootloader"
**Summary:**

Add support for image CRC checking and verification of firmware hash.

**Why do we need this?**

To validate the application before jumping.
To allow for FUOTA support.

**What is already there? What do you see now?**

Basic bootloader in #72, that jumps to applicaition address with no jumps.

**What is missing? What do you want to see?**

Advanced CRC and firmware hash validation.

[2020-11-05 14:32] #68 closed, assigned to elsalahy

[2020-11-23 09:24] elsalahy opened #80 "Reduce bootloader binary size"
**Summary:**

We can reduce bootloader compiled binary size to allow for a bigger application.

**Why do we need this?**

To allow for a bigger application and reduce bootloader overhead as we add more features.

**What is already there? What do you see now?**

A debug compiled binary that is around 40K

**What is missing? What do you want to see?**

A smaller size binary around 20K.

**How do you

[2020-11-23 09:47] elsalahy opened #81 "FreeRTOS LoRaWAN integration (class A)"
**Summary:**

Add LoRaWAN class A support for FreeRTOS

**Why do we need this?**

To be able to build LoRaWAN apps using FreeRTOS

**What is already there? What do you see now?**

FreeRTOS PR #79  and [FreeRTOS + LoRaWAN example](https://github.com/FreeRTOS/Lab-Project-FreeRTOS-LoRaWAN)

**What is missing? What do you want to see?**

- Integration with ST LMN port
- Integration with STM32WL archit

[2020-11-23 14:18] elsalahy opened #82 "LoRaWAN update client"
**Summary:**

Implement FUOTA update client that supports LoRaWAN multicast and fragmentation specifications.
Part of #69

**Why do we need this?**

To be able to do LoRaWAN FUOTA

**What is already there? What do you see now?**

Examples using Mbed OS and LMN

**What is missing? What do you want to see?**

A baremetal implementation that allows devices to receive the fragmented data and stores th

[2020-11-30 09:38] elsalahy opened #84 "Analyze FreeRTOS apps power consumption"
**Summary:**

Need to do a power consumption analysis of the freeRTOS apps.

**Why do we need this?**

To ensure the node goes to sleep properly and the apps are sustainable in the long run

**What is already there? What do you see now?**

Basic power analysis of a bare-metal LoRaWAN app

**What is missing? What do you want to see?**

Analysis of  `basic_freertos` app
Analysis of `freertos_lorawan

[2020-11-30 09:44] #62 closed, assigned to azerimaker, wienke, elsalahy

[2020-11-30 10:24] #49 closed, assigned to azerimaker, wienke, laurensslats, elsalahy

[2020-12-01 10:29] #46 closed, assigned to azerimaker, wienke, johanstokking, elsalahy

[2020-12-01 10:35] #9 closed, assigned to azerimaker, elsalahy

[2020-12-01 10:38] #7 closed, assigned to elsalahy

[2020-12-01 10:41] #6 closed, assigned to azerimaker

[2020-12-01 10:43] #5 closed, assigned to azerimaker, wienke, johanstokking, elsalahy

[2020-12-01 10:46] #3 closed, assigned to azerimaker, wienke, johanstokking, laurensslats, elsalahy

[2020-12-01 11:16] #2 closed, assigned to azerimaker, elsalahy

[2020-12-01 13:28] #50 closed, assigned to azerimaker, elsalahy

[2020-12-04 13:51] elsalahy opened #86 "Foundation for the repository documentation"
**Summary:**

We need to setup a detailed documentation pages for the GNSE and I need some input regarding how we should proceed.

[2020-12-09 13:40] #1 closed, assigned to azerimaker, elsalahy

[2020-12-09 13:40] #58 closed, assigned to azerimaker

[2020-12-09 17:29] elsalahy opened #88 "Integrate latest STM32WL V1.0 FW package and support files"
**Summary:**

Update our repo to use the latest FW package 1.0 released by ST 0n 09/12/2020

**Why do we need this?**

To use the latest HAL and avoid debugging solved issues.

**What is already there? What do you see now?**

ST STM32WL 0.7 HAL layer release dated back in August of 2020. See #47

**What is missing? What do you want to see?**

V1.0 Updated HAL and CMSIS and relevant tools
https://g

[2020-12-14 11:32] azerimaker opened #89 "Potential ANT performance issue"
**Summary:**

In their first layout review Fractus has mentioned to place the antenna on the back side of the mainboard.
As can be seen from the review, we followed all their design recommendations, but one. To simplify the manufacturing and bring more prominence for the component I've placed it on the front side of the board.  Now that the component is slightly closer to battery contacts, which m

[2020-12-14 16:53] elsalahy opened #90 "Smaller Serial logging API (prints)"
**Summary:**

It will be extremely beneficial if we add a smaller printf (UART print serial) library to the BSP

**Why do we need this?**

To be able to use an OS and a larger applications while we preserve the capability to do serial logging

**What is already there? What do you see now?**

We have a very good (but big) advanced tracer API built over the ST utilities, that is useful in small bare

[2020-12-22 13:13] elsalahy opened #95 "basic verification and validation of v1.1 HW and FW"
**Summary:**

Umbrella issue for testing, verifying and validating the new v0.2 HW and relevant FW.
Tasks:
- [x] Improve basic apps to reflect and test the new HW changes
- [x] Ensure any HW/FW design change is reflected in the documentation
- [x] Flash and run all basic apps and verify functionality
- [x] Validate power consumption of each app
- [x] Ensure MCU RTC and timers are precise
- [ ] Tes

[2020-12-22 13:51] #42 closed, assigned to azerimaker, wienke, johanstokking, elsalahy

[2020-12-23 10:20] #4 closed, assigned to azerimaker, wienke, johanstokking, elsalahy

[2020-12-24 10:58] elsalahy opened #96 "Improve battery reporting accuracy"
**Summary:**

We can add multiple battery management APIs that allow us to accurately report the battery voltage level.
see #94 where we provide APIs that use the 12 bit ADC to report the ADC status.

The output data has a minor deviation ( ~ (+- 120) mv), and this is mostly due to [RP605Z283B](https://www.n-redc.co.jp/en/pdf/datasheet/rp605-ea.pdf) error percentage
![image](https://user-images.gi

[2020-12-24 10:59] #29 closed, assigned to elsalahy

[2020-12-29 10:54] #86 closed, assigned to elsalahy

[2021-01-04 09:10] #64 closed, assigned to elsalahy

[2021-01-08 08:33] #66 closed, assigned to elsalahy

[2021-01-15 15:59] elsalahy opened #99 "FreeRTOS-LoRaWAN integration"
**Summary:**

Umbrella issue for improving LoRaWAN FreeRTOS integration.
- [ ] Enable Tickless_IDLE mode and measure power consumption, see #84
- [x] Reduce logging overhead, see #90
- [x] Use MAC layer in delays `DutyCycleWaitTime ` after update to v1.0, see #88
- [ ] Integrate RTC with LW FreeRTOS app, see #100

[2021-01-15 19:06] elsalahy opened #100 "Integrate RTC with LoRaWAN FreeRTOS app"
**Summary:**

Integrate RTC with the LoRaWAN FreeRTOS app for accurate time keeping.

**Why do we need this?**

To be able to maintain an accurate clock and reduce time deviations.

**What is already there? What do you see now?**

FreeRTOS timer used as a clock.

**What is missing? What do you want to see?**

RTC integration with the FreeRTOS timer

**How do you propose to implement this?**

Simil

[2021-01-18 23:11] #74 closed, assigned to elsalahy

[2021-01-26 11:03] #81 closed, assigned to elsalahy

[2021-01-27 14:32] elsalahy opened #106 "Support LoRaWAN OTAA and ABP Join best practices"
**Summary:**

Support LoRaWAN OTAA and ABP Join best practices.
See [article](https://www.thethingsnetwork.org/docs/devices/bestpractices.html) for more information.

CC: @htdvisser

**Why do we need this?**

To allow for scalable deployments.

**What is already there? What do you see now?**

Demo applications `basic_lorawan` and `freertos_lorawan` that doesn't follow the best practices.

**What i

[2021-01-27 14:42] htdvisser commented on #106
Related:

https://www.thethingsnetwork.org/forum/t/does-a-node-ever-need-to-rejoin-after-otaa/2442/10?u=htdvisser
https://www.thethingsnetwork.org/forum/t/does-a-node-ever-need-to-rejoin-after-otaa/2442/12?u=htdvisser

[2021-01-27 15:00] elsalahy opened #107 "Setup GH CLA assistant"
**Summary:**

Setup [Github CLA](https://github.com/cla-assistant/cla-assistant) for the repo to manage contributors merges.

CC: @johanstokking

**Why do we need this?**

To be able to merge external contributions.

**What is already there? What do you see now?**

Nothing

**What is missing? What do you want to see?**

A Github CLA to manage external contributions

**How do you propose to impleme

[2021-01-27 15:04] elsalahy opened #108 "Add contribution guideline"
**Summary:**

Add a contribution guideline.

**Why do we need this?**

To allow for external contributions.

**What is already there? What do you see now?**

Nothing

**What is missing? What do you want to see?**

A contribution guideline.

**How do you propose to implement this?**

- Add a markdown write-up of how to contribute.

**Environment:**

Docs

**Acceptance Criteria:**

...

**What can y

[2021-01-27 16:28] ehogeweg opened #109 "Reduce enclosure size by using AAA and/or flat li-poly batt."
**Summary:**
The node is spectacular but seems a tad bulky. Changing the batteries would allow for a smaller enclosure. Additional... it would be nice (...) if the battery can be charged with a little solar panel on the cover.

**How do you propose to implement this?**
It seems easy enough to define a different bottom, maybe even include both bottoms in the package. Keeping two different models on

[2021-01-27 17:03] azerimaker commented on #109
Thanks for your comment, @ehogeweg . That's certainly doable. In fact, that was the reason why we went with JST-PH connector, so you can use flat LiPo batteries.
The reason why we went with 2xAA instead of 2xAAA was mainly due to the provided extra capacity for 2xAA ~9Wh which was almost 60%  more than the 2xAAA based solution.
Energy harvesting can be implemented on a small add-on board which sit

[2021-01-27 17:04] azerimaker commented on #109
@ehogeweg please see this discussion for more info: https://github.com/TheThingsIndustries/generic-node-se/issues/8#issuecomment-624648301

[2021-01-27 18:47] ehogeweg commented on #109
That is an excellent thread, thanks for sharing. Too bad it is close ;-)

Keep up the good work guys. The generic node appears to be an awesome product. Can’t wait to get my hands on it.

Didn’t hear about it until today so I have a bit of catching up to do.

Cheers,

Erwin

On Jan 27, 2021, at 12:05, Orkhan AmirAslan <notifications@github.com<mailto:notifications@github.com>> wrote:

@ehogeweg<ht

[2021-01-27 18:56] ehogeweg commented on #109
Thanks Orkhan,

BTW… I seems like most of your team is in EUR. We are located in the US (South Florida) so if you need some beta testers here, we are more than happy to help.

Cheers,

Erwin

On Jan 27, 2021, at 12:03, Orkhan AmirAslan <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks for your comment, @ehogeweg<https://github.com/ehogeweg> . That's certainly doable. In fa

[2021-01-27 19:40] azerimaker commented on #109
Thanks Erwin (@ehogeweg ).

Thanks, in that and other threads (mostly closed) you can have a general overview as we progressed in our design decisions.

We'd love to have beta testers in USA. We have designed the device in such a way what it would support dual band **(868/915 MHz, +14 dBm/ +22dBm )** while sticking to one BOM and antenna matching network. This of course results in overall reduced

[2021-01-28 11:57] johanstokking commented on #107
Done

[2021-01-28 11:57] #107 closed

[2021-01-30 11:55] wienke opened #112 "Add the TTC2021 videos in the documentation"
**Summary:**
Add the TTC2021 videos in the documentation.

https://youtu.be/orhg0_kancg
https://youtu.be/Fxv1l75Ge1c
https://youtu.be/aHVi-FglC4Y
https://youtu.be/3ifZX8lO5Mg
...

**Why do we need this?**
Because they are very good
...

**What is already there? What do you see now?**
No videos yet.

[2021-02-01 14:01] elsalahy commented on #95
We received the 2nd iteration of the HW on 18th of Jan.
We validated the device functionality using basic apps and the results are below:
- `basic`  ✅  (some nodes failed to pass, need to investigate the production issue)
- `basic_lorawan` ✅  (The RSSI and the antenna performance need to be validated)

[2021-02-01 15:39] elsalahy opened #113 "lorawan freefall app"
**Summary:**

We need an application that configures the accelerometer interrupt pin to report free-fall over LoRaWAN

**Why do we need this?**

To have a sample application demonstrating the GNSE capability of detecting free-fall

**What is already there? What do you see now?**

basic_lorawan application.

**What is missing? What do you want to see?**

A freefall demonstration app.

**How do you

[2021-02-02 08:59] elsalahy commented on #113
Here is a similar [application](https://lora-developers.semtech.com/resources/lorawan-academy/) we developed using another platform.

[2021-02-02 09:00] elsalahy commented on #113
@marnixcrouzen please feel free to discuss the requirements before jumping into implementation.

[2021-02-04 15:03] marnixcro opened #114 "Boot mode pins capacitance too high"
**Summary:**

The boot pin connection seems to have a capacitance that's too high. My node jumped into boot mode without connecting the boot pins together. The device was power cycled and reset multiple times in between. Discharging power supply by shorting it was also not successful. The issue was fixed after turning the device off, shorting the pins temporarily, and turning it on again.

**Steps

[2021-02-05 14:05] elsalahy commented on #114
This is a good first issue, from the title to the Summary, will done @marnixcrouzen 👏 !

[2021-02-08 15:22] marnixcrouzen opened #116 "[HW] Sudden high power consumption (~0.500 A @3V)"
**Summary:**

A generic node suddenly increased in power consumption to ~0.500A @3V. The device is fully operational, the basic app tests all pass. Boot mode shows a similar power consumption, as well as erasing the whole chip. The temperature sensor is much higher than usual (40 'C), a component is probably heating up from consuming all this power.

**Steps to Reproduce:**

1. ...
2. ...
3. ...

[2021-02-10 14:14] #109 closed

[2021-02-11 09:05] marnixcrouzen commented on #113
I have a couple of questions about this feature

1. Wat message should appear in the payload?
2. Has there already been an implementation like the third item on the proposal list? I first thought that the button events from basic_lorawan would have this feature but it only notifies the user and never sends the message. It should be doable by setting a timer on failed attempts, but maybe I'm missin

[2021-02-11 10:04] azerimaker commented on #114
@marnixcrouzen thank you for the issue. Could you please verify if there is a short on BOOT0 pins under the PCB?
I typically measure >50KOhm resistance between the BOOOT0 and VDDRF, and couldn't reproduce it.
![boot0](https://user-images.githubusercontent.com/2662257/107622258-e7180e00-6c57-11eb-8c0d-324273e0b098.PNG)
OT0 pins.

[2021-02-11 11:56] marnixcrouzen commented on #114
@azerimaker the node is not shorted on the boot0 pins. When I resolved the issue I was actually trying to find short there but that didn't seem to be the case then. After testing it and knowing there was no short, it unexpectedly worked after turning it on. I thought that shorting it during the process of testing with my probes might have discharged it.

I tried reproducing it myself today. I wasn

[2021-02-12 11:16] elsalahy commented on #113
@marnixcrouzen

1. You have flexibility with the message structure but it keep in mind it should be as configurable as possible.
2.  Yeah you can use a configurable transmission timer using the sequencer.

[2021-02-14 14:07] goran-mahovlic opened #118 "Ninja is case sesitive"
**Summary:**
While testing docker run on linux following this guide

https://thethingsindustries.github.io/generic-node-docs/getting-started/se-sw/env-setup/docker/

this command is not working

`cmake -G ninja ../.. -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=../../cross.cmake -DTARGET_APP=basic`

...

**How do you propose to implement this?**

Ninja seams to be case sensitive and this comman

[2021-02-15 07:36] elsalahy commented on #118
Thanks @goran-mahovlic for the note, this is now fixed and updated in this [PR](https://github.com/TheThingsIndustries/generic-node-docs/pull/12)

[2021-02-15 07:36] #118 closed

[2021-02-15 10:35] elsalahy commented on #39
Please also allow for the following:
1- Configurable Frequency in the BSP Conf
2- Provide multiple frequency options as a comment (all options must be tested).

[2021-02-15 20:55] goran-mahovlic opened #121 "case typo on basic_lorawan code"
**Summary:**

There is small case typo  that makes build to fail under linux

https://github.com/TheThingsIndustries/generic-node-se/blob/develop/Software/app/basic_lorawan/CMakeLists.txt#L78
...
**How do you propose to implement this?**

with changing line to     ${PROJECT_SOURCE_DIR}/lib/GNSE_HAL  build was succesfull
...

[2021-02-17 10:20] #121 closed

[2021-02-18 09:44] azerimaker commented on #44
Closing this to reduce the clutter, since most of the above mentioned improvements are implemented.

[2021-02-18 09:44] #44 closed

[2021-02-18 12:54] azerimaker commented on #36
**Problem:** Currently testing the rest of the **v1.1** PCBs. There seem to be quite high number of boards (so far 8/60) with poor solder quality on Buck-Boost converter IC. Since it's a BGA package, pin connections are not visible.

**Solution:** Reflowing (heating with hot air gun) and resoldering them seems to solve the problem. I'll also investigate the gerber and stencil files for potential i

[2021-02-18 12:58] wienke commented on #36
So this is due to poor manufacturing by Seeed?

[2021-02-18 13:00] azerimaker commented on #36
I don't want to blatantly blame them, without doing any X-ray on every faulty boards, or properly analyzing the solder-paste stencils, but if I see that reflowing solves the problem in every faulty board, it's highly probable.

[2021-02-18 13:23] azerimaker opened #123 "Voltage supervisor behavior at low Vin"
**Summary:**

After testing with different battery types and the bench supply the voltage supervisor IC sometimes behaves erratically, resulting in disabling the buck-boost converter and going into oscillation mode. This maybe due to the location of its sense (Vin) line, which is right after the decoupling caps.

**Current problem:**

It sometimes causes unwanted latching and oscillations around 2

[2021-02-22 14:25] marnixcrouzen opened #125 "STM32CubeIDE will not build on Linux due to capitalisation typo"
**Summary:**

These lines cause an issue in when building projects with STM32CubeIDE on Linux. 'include' should be capitalised in all instances.

https://github.com/TheThingsIndustries/generic-node-se/blob/94500111cde0040a24c9e71e5b88fd773aed7bc3/Software/app/basic/.cproject#L61
https://github.com/TheThingsIndustries/generic-node-se/blob/94500111cde0040a24c9e71e5b88fd773aed7bc3/Software/app/basic_

[2021-02-22 17:14] elsalahy opened #127 "Incorrect PCB Pin description"
**Summary:**

The VCC pin on the front is wrongly described on the back as GND
and The GND pin on the front is wrongly described in the back as VCC

**Steps to Reproduce:**

Check any PCB front and back.
![image](https://user-images.githubusercontent.com/24204263/108743981-b4b0bf80-7539-11eb-83a7-f8b861a761f3.png)

![image](https://user-images.githubusercontent.com/24204263/108743706-5be12700-7539

[2021-02-23 09:16] #125 closed

[2021-02-23 15:35] elsalahy commented on #112
This is done in https://github.com/TheThingsIndustries/generic-node-docs/pull/13, will close this after the PR is merged

[2021-02-24 08:59] marnixcrouzen commented on #39
@elsalahy I had a question about the I2C speed? How was SENESOR_I2C1_TIMING calculated exactly?
https://github.com/TheThingsIndustries/generic-node-se/blob/e73e632008af8deb37c5635224992ba672222532/Software/lib/GNSE_BSP/GNSE_bsp_serial.h#L75
My logic analyser reads that the SCL pin has a frequency of 147kHz (7us from rise to rise).

[2021-02-24 09:58] #112 closed

[2021-02-24 10:30] azerimaker commented on #127
Good catch, @elsalahy. Noted down and will fix it in the final rev.

[2021-02-25 17:12] elsalahy opened #128 "Improve antenna performance"
**Summary:**

The node RSSI is in the range of -80 to -90

**Steps to Reproduce:**

1. Flash the node with `basic_lorawan` app
2. Record gateway, application logs

**What do you see now?**

Bad RSSI

Attached traced of SF12 and SF08.
The node is used without enclosure

[RSSI_SF08.txt](https://github.com/TheThingsIndustries/generic-node-se/files/6044682/RSSI_SF08.txt)
[RSSI_SF12.txt](https://github

[2021-02-25 21:54] descartes opened #129 "CMake configuration - setting CMAKE_TOOLCHAIN_FILE"
**Summary:**
Fresh git pull or download of release isn't ready to process the root CMakeLists.txt

**Steps to Reproduce:**
New window / workspace. Open folder. CMake reports error with no CMAKE_TOOLCHAIN_FILE defined.

**What do you want to see instead?**
Add set(CMAKE_TOOLCHAIN_FILE "cross.cmake") if appropriate

**How do you propose to implement this?**
I don't, I hack CMake and I don't have a g

[2021-02-25 21:59] descartes opened #130 "CMake configuration - best way to select build target"
**Summary:**
I can see the use of TARGET_APP and I can see the validation of correct target and I can set TARGET_APP to the target I want but it is not clear what the most approprate way of selecting the target.

**Steps to Reproduce:**
Once you've got the basic target running, figure out how to choose a different target

**What do you want to see instead?**
Something in the README.md that says wh

[2021-02-25 22:37] descartes opened #131 "Beta 0.2.0 won't compile - missing references"
**Summary:**
[code]

**Steps to Reproduce:**
Download release, edit CMakeLists.txt to point at cross.cmake, set location of compiler in cross.cmake, build ...

**How do you propose to implement this?**
This is more of an FYI as I have a `git clone` that is working - but you may want to remove the release ...

**Environment:**
VSCode on macOS, CMake 3.18.1 - tried with CLion which experiences the s

[2021-02-26 09:47] elsalahy commented on #129
Thanks @descartes

I fail to reproduce the issue, even with release files.

If you run the commands as mentioned in the [documentation](https://thethingsindustries.github.io/generic-node-docs/getting-started/se-sw/env-setup/cmd/) do you face an issue.

Because the command below sets the `CMAKE_TOOLCHAIN_FILE`
`cmake ../.. -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=../../cross.cmake -DTARGET_A

[2021-02-26 09:59] elsalahy commented on #130
Thanks @descartes

We mention this briefly in the [documentation](https://thethingsindustries.github.io/generic-node-docs/getting-started/se-sw/env-setup/cmd/) towards the end.

[code]

Do you feel this is not sufficient information to build other [applications](https://github.com/TheThingsIndustries/generic-node-se/tree/develop/Software/app/README.md)?

[2021-02-26 10:05] elsalahy commented on #131
Thanks @descartes

We depend on two submodules (cryptoauthlib and FreeRTOS-Kernel), so if you opt to download the beta release manually, you would need to download these submodules manually as well.

That is also why in the git clone command we add  `--recurse-submodules` flag.

Thanks for highlighting this, may be in the next release I will consider adding the submodules as part of the release, o

[2021-02-26 12:26] elsalahy commented on #128
@marnixcrouzen can you please report the RSSI values of your node?

[2021-02-26 12:43] marnixcrouzen commented on #128
Did two readings, no casing, indoors
Reading 1:
  "time": "2021-02-26T12:32:45.181342063Z",
  "data_rate": "SF12BW125",
  "gateway 1":
      "rssi": -118,
  "gateway 2":
      "rssi": -109,
      "snr": 4.2,
Reading 2:
  "time": "2021-02-26T12:34:22.413363371Z",
  "data_rate": "SF10BW125",
  "gateway 1":
      "rssi": -114,
      "snr": -0.8,
   "gateway 2":
      "rssi": -113,
      "snr": -0.2,

[2021-02-26 12:47] elsalahy commented on #128
@marnixcrouzen thanks for confirming the issue.

[2021-02-28 21:01] descartes commented on #130
It's under a heading of Windows - so deeply unlikely I'd ever be going there - in fact having followed that link I'm off for a shower. Perhaps a CMake settings / config section?

[2021-02-28 21:06] descartes commented on #131
To my elderly & simplistic mind, a release archive is complete.

If not, fair enough, then highlighting very clearly that the user has other archives to download. This will save you hours of support queries.

I'm always happy to download submodules if I'm prompted to, but I personally will be doing most of my work against a defined release rather than the moving target of an active repository.

[2021-02-28 21:06] #131 closed

[2021-02-28 21:15] descartes commented on #129
VSCode?? As per my report??

The Docker option is 'interesting'.

I hold my hand up, I didn't read the documentation, I saw the CMake files and being up to my ears in Raspberry Pi Pico files and VS Code fully configured, just used that.

Perhaps detailing your preferences for VS Code would be useful. And doing a quick survey of developers preferences on IDE / building so you can head off issues at

[2021-03-01 08:51] elsalahy commented on #129
@descartes
I think you are aware CMake can be used within VSCode.

I agree something like this [VSCode documentation](https://thethingsindustries.github.io/generic-node-docs/getting-started/se-sw/env-setup/vscode/) can be more detailed.

If you want a more detailed documentation on something specific related to your setup, I would appreciate it if you open a descriptive issue [here](https://github

[2021-03-01 08:55] HeadBoffin commented on #129
I'll figure out the settings based on the command line docs and either raise an issue or a pull request.

This can be closed if you wish

[2021-03-01 08:56] HeadBoffin commented on #130
qf #129, close and I'll see what I can achieve

[2021-03-01 09:00] elsalahy commented on #130
I agree this can be improved
I opened  an issue for tracking
https://github.com/TheThingsIndustries/generic-node-docs/issues/16

[2021-03-01 09:11] elsalahy commented on #131
@descartes I agree with you, this can be improved, we can add a documentation, or add two releases.
Since we are in the beta phase, every feedback is extremely welcomed, and will make sure we streamline this as we go forward.

[2021-03-01 09:13] elsalahy commented on #129
@descartes or @HeadBoffin  feel free to re-open this if you still face an issue.

[2021-03-01 09:13] #129 closed

[2021-03-01 09:23] elsalahy commented on #130
@descartes or @HeadBoffin
Very similar to LMN [vscode setting](https://github.com/Lora-net/LoRaMac-node/blob/master/.vscode/settings.json), you can set the following configurations.
[code]

[2021-03-01 09:23] #130 closed

[2021-03-01 09:30] elsalahy commented on #39
@marnixcrouzen This was part of the STM32WL package, and there is a chance it can be incorrect/inaccurate.

Please analyze the value as part of the issue and explain your finding if you consider this to be incorrect.

[2021-03-01 09:49] #88 closed

[2021-03-01 13:44] elsalahy opened #132 "IWDG support for basic_lorawan"
**Summary:**

Add support for the IWDG (independent watchdog) in the `basic_lorawan` application to ensure reliable applications.

**Why do we need this?**

 Adds application layer reliability

**What is already there? What do you see now?**

Nothing

**What is missing? What do you want to see?**

Integration of the IWDG into the `basic_lorawan` application.

**How do you propose to implement this

[2021-03-01 15:03] elsalahy opened #133 "Simplify application configurations"
**Summary:**

We need to make easy to configure the application layer functionalities.

**Why do we need this?**

To reduce the complexity of building an application with a specific configuration

**What is already there? What do you see now?**

Each app contains `app_conf.h` which enables and disables specific features.

**What is missing? What do you want to see?**

Open for discussion.
Could be

[2021-03-02 09:51] marnixcrouzen commented on #40
**Update on findings, should this issue be delayed**
HW CS works a little different than anticipated, but might still work.
This is the diagram for the first command of the basic app (getting the ID), note that the CS pin has to be released, it will otherwise send the ID continuously.
![image](https://user-images.githubusercontent.com/77615373/109627493-f943e880-7b41-11eb-8c20-5aa164542f4a.png)

I

[2021-03-02 11:39] elsalahy commented on #40
@marnixcrouzen Thanks for the detailed/great analysis.

I think we should not proceed forward with this issue, and we should close it, as with the current external flash (MX25R1635F) and supported STM32 SPI modes, it is clear that this will not be a viable solution.

This can be re-opened in the future if we change the MCU or the external flash.

To make sure we maximize the gain from your investi

[2021-03-02 12:01] marnixcrouzen commented on #40
Diff file shows for enabling pulse, NSSPMode should be kept SPI_NSS_PULSE_DISABLE for disabled pulse. Setting the frequency of the pin high is not required, but seemed useful when trying to optimise speed.
[code]

[2021-03-02 12:01] #40 closed

[2021-03-03 09:18] azerimaker opened #134 "Device Certification"
**Summary:**

Umbrella issue for device certification related issues and discussions.

**Why do we need this?**

Certification is on the critical path before the mass-market release of our product.

**What is already there? What do you see now?**

Currently we've started shipping the first [beta] units to our stealth-community members as a sample units w/o certification, but in upcoming months.

*

[2021-03-03 10:34] johanstokking commented on #134
I think it's good to go with LoRaWAN pre-certification with the current revision already. Is the LCTT useful for this? See https://lora-alliance.org/lorawan-certification/

[2021-03-04 09:34] #113 closed

[2021-03-09 08:43] elsalahy opened #136 "LMN multicast support for ATECC608A-TNGLORA"
**Summary:**

Support multicast keys handling in LMN stack

**Why do we need this?**

To be able to do FUOTA using the onboard secure element

**What is already there? What do you see now?**

Support for (APP, NWK) Key handling for LoRaWAN 1.0.x

**What is missing? What do you want to see?**

Multicast key handling support with the ATECC608A-TNGLORA and LMN stack

**How do you propose to implement

[2021-03-09 10:35] elsalahy opened #137 "Support for ATECC608A-TNGLORA randomizer"
**Summary:**

We can add support for ATECC608A-TNGLORA random generator.

**Why do we need this?**

To use it instead of the radio random function

**What is already there? What do you see now?**

The stack uses the random radio function

**What is missing? What do you want to see?**

Use the ATECC608A random generator

**How do you propose to implement this?**

Use Microchip cryptoauthlib APIs.
U

[2021-03-09 13:09] elsalahy commented on #56
@wienke That might be another issue, I will analyze this and get back to you if it is relevant in LoRaWAN

[2021-03-09 15:30] azerimaker commented on #134
@johanstokking it's a good idea. We'll start with CE (RED) certification route and alongside I will look into the LoRaWAN pre-certification. LCTT will definitely come in handy.

[2021-03-11 08:28] elsalahy commented on #73
@marnixcro  the basic_lorawan app is a good example, you can leave the function un implemented if you don't know what to include in it yet

[2021-03-11 09:58] marnixcro opened #139 "Add basic GNSE_Sleep function template"
**Summary:**

Currently, setting the GNSE to sleep can be achieved by calling multiple functions. To make this easier, a high level API call should be available for users to implement.

**Why do we need this?**

To improve readability of one of the most important aspects of the GNSE.

**What is already there? What do you see now?**

Low level functions for sleeping.

**What is missing? What do you

[2021-03-12 09:04] marnixcro commented on #39
Previous version had the following comment, but was deemed too confusing since the I2C speeds are altered by both the I2C setting and the clockspeed.

[2021-03-12 10:41] #39 closed

[2021-03-13 17:14] azerimaker commented on #95
Basic verification of **v1.1** HW is now complete.
Out of 99 beta boards (1x was incomplete from the PCBA) 84 passed the basic test, and only 80 of them have passed the LoRaWAN test at first pass. 4 of them gets stuck at LoRaWAN app.
This results in 81% of overall yield.
Rest of the 15 boards won't start at all (Buck-Boost goes into protection mode). I've investigated the issue and in most of them

[2021-03-13 17:31] azerimaker commented on #36
I've thoroughly investigated two faulty boards (№ 97, 98 on the list), which were not starting up at all. I could hear the buzzer clicking, which indicated that the buck-boost converter is trying to start-up then goes into protection mode. I've first desoldered the IC on board97 and observed that one solder ball was missing. After reballing the pad and resoldering it back the board worked flawless

[2021-03-13 17:41] azerimaker commented on #114
Since this issue is not present in other nodes I'm closing it for now. We can reopen it we observe anything again.

[2021-03-13 17:41] #114 closed

[2021-03-13 17:46] azerimaker commented on #127
This has to be addressed in documentation. I'll look into that.
Closing the issue for now.

[2021-03-13 17:55] azerimaker commented on #133
I've tested this new way of configuring the apps and it's way more intuitive than the previous versions. Good work, @elsalahy .

[2021-03-15 12:08] azerimaker opened #141 "Adding basic examples (RGB blink, LoRaWAN TH sensor app)"
**Summary:**

I needed basic test codes for testing the board functionality, therefore I copied  the `basic` and the `basic_lorawan` examples into `basic_blink` and `basic_lorawan_th` and added required functionalities, while remodeling the unnecessary ones.

**Why do we need this?**

`basic_blink` is needed to serve as a barebones project to start with.
`basic_lorawan_th` is needed to run real-wo

[2021-03-16 09:46] elsalahy opened #142 "Support SE OTAA joins and operations in low power mode"
**Summary:**

Need to add support for secure element LoRaWAN OTAA joins and operations in low power mode.

**Why do we need this?**

To be able to conserve energy when the secure element is operational.

**What is already there? What do you see now?**

The device joins OTAA in active power mode

**What is missing? What do you want to see?**

The device operates and joins in low power mode

**How d

[2021-03-16 13:28] azerimaker opened #144 "GORE® Waterproof seal testing"
**Summary:**

As part of the #36 testing I'll carry out testing different waterproof seals.
Current version (v1.1) of the nodes have openings (⌀ _2mm_) on the front panel to allow pressure compensation and reduce the thermal delay for each measurement. Temperature & Humidity sensor (**SHTC3**) sits right under the opening.
Normally this opening compromise the IP65 rating of the enclosure, however,

[2021-03-16 13:49] azerimaker commented on #144
First test is conducted with two nodes (_Serial no. 79 (no seal) & 80 (VE7)_).
**Step 1**: Programmed the nodes and placed them side by side for 30 minutes to allow their temperature to balance.

![0-setup](https://user-images.githubusercontent.com/2662257/111317444-786a0e00-8664-11eb-9a61-5ffbd31201da.jpg)

**Step 2**: After running them at an ambient temperature the sensor readings were in their

[2021-03-16 14:26] elsalahy opened #145 "Improve DC-DC converter decoupling"
**Summary:**

@azerimaker  please update description

[2021-03-16 14:34] elsalahy opened #146 "Improve silkscreen font and layouts and logo"
**Summary:**

@azerimaker  will add more on the issue and we can ask someone for design feedback

[2021-03-16 14:37] elsalahy opened #147 "Reduce cost by removing the voltage supervisor"
**Summary:**

@azerimaker will update the description

[2021-03-16 14:39] elsalahy opened #148 "Improve device usability (reset buttons and bootloader connector)"
**Summary:**

@azerimaker will update the description

[2021-03-16 14:42] elsalahy opened #149 "Create Enclosure visuals (front/back labels)"
**Summary:**

Generic Node (SE) needs a professional front and back labels. On the front side we have a 2mm opening for the RGB LED and 8mm opening for the user button. Those will be covered with a outdoor resistant embossed sticker.
On the back side we can add some certification, serial number and QR claiming information.

**Why do we need this?**
We need more polished version of the front and ba

[2021-03-16 14:44] elsalahy opened #150 "Initiate device certification pre-testing"
**Summary:**

We need to start device pre-testing and update with relevant issues here.

[2021-03-16 14:50] elsalahy opened #151 "Test adding a shield for EMC testing (RF harmonics improvement)"
**Summary:**

@azerimaker will update the description

[2021-03-16 15:14] elsalahy commented on #134
# CE certification Todo:
1. #150
2. #151
and doing V1.2 updates if the pre-certification run requires major HW changes, see V1.2 hardware label

[2021-03-16 15:18] elsalahy opened #152 "EU and US dedicated BOMs for FCC certification"
**Summary:**

We need to validate if we should separate the device BOMs for FCC certification

[2021-03-16 17:42] azerimaker commented on #144
**Step 3:**  At T+15 minutes, placed the nodes inside the a fridge.

After T+ 30 minutes the readings are pretty close. There's about ~3 minutes delay between each node's temperature difference.
![02-t30min](https://user-images.githubusercontent.com/2662257/111354077-381b8780-8686-11eb-8024-f24d7c60f899.PNG)

[2021-03-16 18:08] azerimaker commented on #144
After T+55 minutes. Both temperature and humidity readings are relatively close.

![03-t55mins](https://user-images.githubusercontent.com/2662257/111357224-69e21d80-8689-11eb-8a84-9eea992ec5fe.PNG)

Reference thermometer shows ~1 °C difference, this is most probably due to the internal heating of the PCB inside the enclosure.
![fridge](https://user-images.githubusercontent.com/2662257/111358152-51

[2021-03-17 08:42] azerimaker commented on #144
**Small correction:** There was a bit of confusion between the membranes. Actually, **VE7** is the **black** one with lover airflow value (290 ml/min/cm²), **VE9** is the **white** one with much larger air-flow of value (1150 ml/min/cm²). Will update the above labels accordingly.

[2021-03-17 10:31] azerimaker commented on #144
Starting the second round of test with the same nodes.
This time the node no. 80 has VE7 (black) membrane seal, which has lower airflow value.

T+15: Sensor readings are bang-on.
![t2-t15min](https://user-images.githubusercontent.com/2662257/111453668-1c5ec280-8714-11eb-994d-db802fae3d5a.PNG)

Temperature readings can be confirmed with the reference thermometer.
Its humidity values are way off and

[2021-03-17 12:27] azerimaker commented on #144
At T+45 minutes we can observe that the sealed sensor follows the unsealed one pretty well. Observed (but not precise) delay between the nodes was around ~3 mins with unsealed one leading ahead.

![t2-t45mins](https://user-images.githubusercontent.com/2662257/111466854-1670dd80-8724-11eb-8dff-3ce8c1739174.png)

T+55 minutes: blue trace (sealed node) clearly shows the approx. delay.

![t2-t55mins](

[2021-03-17 12:33] azerimaker commented on #144
**Verdict:** After extensive tests we can confirm that both seals are working well and depending on the use case and region we can chose either one of them.
For rather harsh environments with a lot of rain, VE7 would be a better option.
For milder climates and faster reaction times VE9 could be preferred.

(more findings will follow)

![t2-t150mins](https://user-images.githubusercontent.com/266225

[2021-03-17 12:53] elsalahy commented on #95
Yeah indeed basic verification is done.
Relevant advanced issues  #128 #36

[2021-03-17 12:54] #95 closed

[2021-03-17 12:59] elsalahy commented on #57
Sensor on board components HAL is covered as part of #73

[2021-03-17 13:04] elsalahy commented on #116
Node left in the office for @azerimaker to inspect the behavior, no other nodes had similar issues after the basic testing done in #95, this can be a minor issue related to #145

[2021-03-19 07:30] wienke commented on #149
@pierrephz for the Generic Node we need a design for the top and bottom of the device:

* Top - clean visual and there is a button position somewhat at the center.
* Bottom - this should have our company info, CE mark, place for a QR code. And an instruction where people can scan it. Use tti.fyi/qr for now.

[2021-03-19 08:58] #55 closed

[2021-03-19 14:35] marnixcro opened #153 "Settling time delays"
**Summary:**

Turning on the load switch takes some time, a delay is needed before sensors/flash can be initialised. The settling time should be calculated/researched to decrease it to its possible limit.

**Why do we need this?**

The current delay is long and arbitrary.

**What is already there? What do you see now?**

In the basic app and in GNSE_hal.h a delay of 100 ms is set just in case.

**

[2021-03-22 11:28] #73 closed

[2021-03-24 08:05] marnixcro opened #156 "Freefall Downlink LoRaWAN example"
**Summary:**

There should be a application utilising downlinks as a feature. The freefall app is a good example for this, as it has a use case for finding the dropped GNSE with small beeps.

**Why do we need this?**

No such app exist yet, but user might still have need of this in their applications (using as remote warnings after data was processed on the server). Providing an example that can a

[2021-03-24 08:28] elsalahy commented on #156
@marnixcro
basic LoRaWAN already provides sufficient downlink functionality by switching to call B and C, so please avoid changing this app.

Your suggested feature can be done as part of the example application like the freefall app, for example activating the buzzer and LED via a downlink to identify the object that has free-fallen

[2021-03-24 08:33] #144 closed

[2021-03-24 13:38] #63 closed

[2021-03-24 15:48] hallard opened #157 "Option to bypass buck/boost stage"
**Summary:**
It could be interesting to have the ability to totally bypass the buck/boost stage.

**Why do we need this?**
To be able to power the node with classic Li Socl2 battery and avoid any related quiescent current

**What is already there? What do you see now?**
I don't see any option to bypass Buck/boost stage

**What is missing? What do you want to see?**
An option to bypass Buck/boost s

[2021-03-24 16:07] hallard opened #158 "Is Load Switch 2 for Macronix Flash really necessary?"
Load Switch 2 fir powering SPI Flash (when off) quiescent current can be 10 (typical) to 250nA (max)  and the Macronix flash in power down goes from 7nA (typical) to 350 (max). May be an option to gain some component and remove this one.
The con is to be sure to place the flash in power down when finished job, but it's also an interesting option, never used load switch with flash on my boards.

Th

[2021-03-25 12:56] elsalahy commented on #158
@hallard We asked ourselves the same question in the design process and it all comes down to the vision of having GNSE as a boilerplate.

From a FW perspective the external flash can be any external SPI flash (any external flash supporting SFDB will do the trick), so Macronix is a good option when it comes to low power consumption.
The load switch provide assurance that any component that is conne

[2021-03-25 12:57] elsalahy commented on #158
I think that would be a great topic to discuss in the [Forum](https://www.thethingsnetwork.org/forum/c/nodes/generic-node/88)

[2021-03-25 13:00] elsalahy commented on #157
@azerimaker care to provide some input here and is this something we should consider for v1.2 hw version?

[2021-03-25 13:10] #153 closed

[2021-03-25 14:18] azerimaker commented on #157
@hallard thank you for your suggestion.
You're right, unfortunately there's no easy way to bypass the buck-boost converter in this version.
We're planning to remove the voltage supervisor IC and solely rely on the internal UVLO circuitry of the RP605x, therefore in the next rev, we will add a NC-NO jumper pad to be able to disable the IC ([~10nA standby current](https://www.n-redc.co.jp/en/pdf/dat

[2021-03-25 14:22] hallard commented on #158
Makes sense also, in all case would provide assurance device is disconnected :-)

By the way, may be you could add this VCC_flash (output of the switch) going to expansion port, this mean that we would be able to shutdown external sensors (or other such as GPS) populated on the expansion board without need to reproduce all power off circuit on our expansion board (and use another GPIO)

[2021-03-25 14:32] hallard commented on #157
Nice shot the CE1 with solder pad of the buck/bust, great idea and 10nA does not hurt me.
Take care powering from VCC may have current draw going to VOUT1 of the buck boost, depending on technology I already had bad surprise with some regulators, so this need to be tested to be sure no current goes to VOUT1, to be sure I would add a solderpad on the output of the regulator (or jumper pin)
On user

[2021-03-25 14:34] azerimaker commented on #158
Dear @hallard, these are really valuable comments. Thanks a lot.

We also thought about this, in fact on the very first prototype, the I2C expansion was fed by the second load switch (VCC_Flash), but we were afraid that this might cause some confusion if a user wants to add an external sensor and everytime they have to call power-down routine of the flash IC.

Load switches don't add much to the B

[2021-03-25 14:50] azerimaker commented on #157
We're using a variant of the RP605 with Auto-discharge circuitry (only option available with 2.8V output), so indeed, disabling the IC and feeding power directly from the VCC line might introduce some unwanted leakage paths. I'll verify how much is the leakage with this version and follow up later.
![rp605-auto-discharge](https://user-images.githubusercontent.com/2662257/112492066-3a19d080-8d81-11

[2021-03-25 15:48] hallard commented on #158
Awesome, thanks, yes that's correct, always need to think on users side :-)

[2021-03-25 15:49] hallard commented on #157
@azerimaker thanks for this awesome and precise answer. That's perfect.

[2021-03-25 18:49] azerimaker commented on #149
@pierrephz I've added dimensions for the front/back panel visuals. Please use this as a reference.

[GNSEv1.1_label_dimensions.pdf](https://github.com/TheThingsIndustries/generic-node-se/files/6207153/GNSEv1.1_label_dimensions.pdf)

[2021-03-25 19:23] azerimaker commented on #152
For this version I'd say we keep the dual-band front-end and go through the certification process, but in the future we should definitely reconsider having two region dependent SKUs. This will also reduce BOM cost at least ~15%.

[2021-03-26 09:18] #90 closed

[2021-03-30 07:44] marnixcro opened #160 "Temperature certification"
**Summary:**

The GNSE might have a use case for the food industry, as a temperature sensor for storage of food in transport, storage and distribution of food. To make it applicable for such a use case, certain reguluations, the [NEN norm](https://drive.google.com/file/d/1AvDF1tmegurT-abZgaKhWCY7nkcNtUON/view?usp=sharing), has to be passed for it to apply.

**Why do we need this?**

For use cases

[2021-03-30 12:21] pierrephz commented on #149
@azerimaker please can you send me the final content/info, CE mark, QR code, etc. when you have it?

[2021-04-01 09:33] marnixcro commented on #160
# Checklist for temperature sensor application

This are a brief summary of the things that we need to do before the GNSE is ready to be a capable temperature sensor for industry use. Note that all tests are listed in chapter 6. I'll continue updating this list, and will include a separate checklist for all specific tests as these are a bit more specific (and way longer).

## Cloud (TTN and possib

[2021-04-01 14:07] ehogeweg opened #163 "Antenna Performance w/ and w/o enclosure."
Hi,

I noticed that the enclosure screws are close to the antenna clearance area. I expect this has some impact on the tuning frequency. Is there any data, that you can share, on how the antenna performs on a bare board vs. enclosed? Does the matching network require different component?

Cheers,

Erwin

[2021-04-02 08:51] #108 closed

[2021-04-06 09:00] elsalahy commented on #150
Progress update: Certification pre-test initiated.

[2021-04-06 09:06] elsalahy commented on #128
@azerimaker please comment and update this issue, there seems to be a concern from the community as well observed in #163

We need to update this in order to respond to community questions.

[2021-04-06 09:28] elsalahy opened #165 "Add Azure RTOS support (basic application)"
**Summary:**

We can add Azure RTOS support and build a basic application around the support.
**Why do we need this?**

To integrate LoRaWAN and build LoRaWAN applications using Azure RTOS.

**What is already there? What do you see now?**

Nothing related to Azure RTOS
FreeRTOS basic applications and LoRaWAN support

**What is missing? What do you want to see?**

Adding Azure RTOS target support a

[2021-04-06 09:38] elsalahy opened #166 "Add Azure RTOS Class A demo application LoRaWAN support"
**Summary:**

It would be beneficial if we add LoRaWAN support to Azure RTOS

**Why do we need this?**

To be able to build applications supporting LoRaWAN and Azure RTOS

**What is already there? What do you see now?**

FreeRTOS LoRaWAN support

**What is missing? What do you want to see?**

Azure RTOS LoRaWAN support

**How do you propose to implement this?**

Create support for class A using Az

[2021-04-06 09:41] elsalahy commented on #158
@hallard is it ok to close this issue?

[2021-04-07 14:17] marnixcro opened #167 "Buzzer only works during HAL_Delay function"
**Summary:**

The buzzer seems to only work in certain circumstances. The basic app seems to work fine, with the buzzer playing at the end. However, when integrating it into another application, it seems to be more difficult. It will not produce sounds at all if HAL_Delay is not initiated. The sounds seem to start when HAL_Delay is running and will stop after HAL_Delay is fixed.

**Steps to Reprod

[2021-04-07 15:09] elsalahy commented on #167
I think this can be fixed by doing a minor adjustment of the interrupt priority as it seems the system is starved by the RTC

[2021-04-07 15:10] elsalahy commented on #167
Adjusting this [config flag ](https://github.com/TheThingsIndustries/generic-node-se/blob/64d5f1dde90e6234c5c346f538453cfb24fce062/Software/lib/GNSE_BSP/GNSE_bsp_conf.h#L39)might fix this issue

[2021-04-08 12:42] marnixcro commented on #167
Small update: The interrupt priority does not fix the issue. This bug seems to be related to the LoRa library, the delay only halted LoRa code to be initiated for some time. There was only one instance where I got it working after LoRa was activated, but it required for the interrupt handler for timer 2 to not be defined (causing the code to break and loop in the interrupt handler). Basic app seem

[2021-04-09 07:37] marnixcro opened #168 "Button not working in basic_lorawan"
**Summary:**

The TX_ON_EVENT options does not work in basic_lorawan, button presses do nothing.

**Steps to Reproduce:**

1. Change EventType in lora_app.c to TX_ON_EVENT
2. See if LoRa messages are transmitted on each button press.

**What do you see now?**

No button interaction.

**What do you want to see instead?**

Button presses handled properly in basic_lorawan.

**How do you propose to im

[2021-04-09 09:00] #132 closed

[2021-04-09 13:46] marnixcro commented on #167
Extra update: I did get the buzzer to work when simply toggling the pin with the sequencer, so the issue seems to be related to the PWM timer during a LoRa message.

[2021-04-12 07:20] azerimaker commented on #149
@pierrephz hopefully next month we'll have a right to use the CE marking, in the meantime you can already start the design using this resources:
https://ec.europa.eu/growth/single-market/ce-marking_en

Please note that the CE marking must be **no smaller than** **5mm.**

[2021-04-12 07:32] azerimaker commented on #163
Thank you for you interest, @ehogeweg.
I understand your concern. In fact, we've discussed this even before we had the PCBs at hand in issues #89, #128.
The enclosure and the close proximity of the screws has certainly some impact on the ANT performance, however we don't have any comparison data or quantitative info on that at this moment.
We're working on it and once we have it, I'll share our fi

[2021-04-12 07:40] azerimaker commented on #167
@marnixcro with the PWM timer, please make sure the GPIO line stays LOW before and after each PWM burst, otherwise the driver transistor (Q2) will stay ON and there will be quite significant leakage through the buzzer.

![buzzer](https://user-images.githubusercontent.com/2662257/114358171-ea097f00-9b72-11eb-96aa-c143a50d8f2e.PNG)

[2021-04-14 09:01] marnixcro commented on #167
Update: Can't believe I didn't think of this sooner, but the problem lies with the low power mode. This peripheral turns of the timer used in the PWM mode, HAL_Delay only delayed this timer. Apparently the low power mode kicks in just before the transmission but almost immediately wakes up to connect to the LoRAWAN, so that's why it turns off before the sending. It also explains why I could toggle

[2021-04-14 09:07] elsalahy commented on #167
@marnixcro what do you mean by

Please explain it clearly, does `LOW_POWER_DISABLE` config flag not function as expected?

[2021-04-14 09:08] marnixcro commented on #167
It probably went into another mode, but the PWM didn't work in sleep mode either I believe. It was one test, I'll try again and see if I can make it work.

[2021-04-14 09:11] elsalahy commented on #167
@marnixcro Please trace what the flag does before coming to a conclusion and raising a discussion.
I assumed you are aware of the fact that freefall app (developed by you) doesn't support low power mode yet.

[2021-04-14 09:26] elsalahy commented on #167
You can invoke `UTIL_LPM_GetMode` and you will observe active mode.
Check `LOW_POWER_DISABLE` and you will see that the node defaults to a sleep mode if stop and off mode are disabled.

[2021-04-14 09:51] marnixcro commented on #167
Tested free fall app again with the flag set to one and the buzzer seemed to work (accidentally changed the wrong app_config before). Here is an overview of the different power consumptions.
![image](https://user-images.githubusercontent.com/77615373/114688522-0e04c600-9d15-11eb-8fc0-41c589b61081.png)

About UTIL_LPM_GetMode, i tested with the normal configurations and got this:
![image](https://u

[2021-04-16 08:47] elsalahy opened #171 "Improve GNSE LPM to support board peripherals"
**Summary:**

We need to add a smart low power manager (LPM) that allows the system to enter stop mode and save power when multiple onboard components are active.

**Why do we need this?**

To be able to have longer battery life with multiple sensors.

**What is already there? What do you see now?**

LPM that supports UART sleep.

**What is missing? What do you want to see?**

An LPM that supports

[2021-04-16 08:49] elsalahy commented on #167
@marnixcro what is the current state on this?

[2021-04-16 08:51] elsalahy commented on #167
If this issue doesn't describe the main problem, it should be closed to avoid confusing GN users.
We have multiple sleep related issues that are WIP.

[2021-04-16 09:15] #167 closed

[2021-04-16 09:33] elsalahy commented on #167
@marnixcro this [code](https://github.com/TheThingsIndustries/generic-node-se/blob/80b9796253f6563bcabe5c59ef3e65d8e35fc403/Software/app/basic_lorawan/sys_app.c#L175) shows how we disable stop mode when wanting to perform a specific functionalit

[2021-04-19 07:53] elsalahy opened #173 "external flash operations fail after multiple initialization"
**Summary:**

The external flash operations fail when `MX25R16_Init` is invoked more than one time.

**Steps to Reproduce:**

1. Call MX25R16_Init two times or more
2. Attempt any flash operation just as read/write/erase

**What do you see now?**

The flash is functional when `MX25R16_Init` is invoked once.
The flash is not functional when `MX25R16_Init` is invoked more than once.

**What do you w

[2021-04-19 09:23] azerimaker opened #174 "Design and BOM files update of v1.1"
**Summary:**

Schematics need minor updates and the BOM files need to be up to date with the current HW version.

**Why do we need this?**

Since we're sharing the sch and pcb files already, anyone can extract BOM info from them.

**What is already there? What do you see now?**

[BOM files](https://github.com/TheThingsIndustries/generic-node-se/tree/develop/Hardware/fab/bom) reflect the old design

[2021-04-19 10:34] wienke opened #175 "Payload buffering in the device"
**Summary:**

We would need a way for data that is measured that can be buffered in the device if it did not arrive.

**Why do we need this?**

...

**What is already there? What do you see now?**

...

**What is missing? What do you want to see?**

...

**How do you propose to implement this?**

...

**Environment:**

...

**Acceptance Criteria:**

...

**What can you do yourself and what do you

[2021-04-20 10:35] #174 closed

[2021-04-20 14:28] #156 closed

[2021-04-20 14:28] #168 closed

[2021-04-26 06:08] #165 closed

[2021-04-26 08:35] elsalahy opened #178 "GNSE sensors sampling app (vanilla version)"
**Summary:**

We need to build an application showing sampling board sensors and sending the data over LoRaWAN.

**Why do we need this?**

To show board usage and have foundation firmware for production and certification.

**What is already there? What do you see now?**

Basic apps.

**What is missing? What do you want to see?**

An advanced low power application that samples the data and sends in

[2021-04-29 13:15] marnixcro opened #180 "Improve freefall_lorawan power settings"
**Summary:**

Currently the free fall app consumes ~100 uA in its sleep mode. This can be lowered by utilising the power modes correctly with the free fall detection. The lowest power consumption should also be tested and documented.

**Why do we need this?**

To lower power consumption and give an for the free fall app's power consumption.

**What is already there? What do you see now?**

Working

[2021-04-29 13:22] marnixcro opened #181 "Mbed OS build environment integration"
**Summary:**

Mbed OS provides multiple [development tools](https://os.mbed.com/docs/mbed-os/v6.10/introduction/tools.html) to build the project. MBed can also be build with [a CMake environment](https://os.mbed.com/cookbook/mbed-cmake), similar to our CLI setup.

**Why do we need this?**

Mbed OS has to be compiled in some form and will require some work to be properly integrated into our design.

[2021-04-29 13:23] marnixcr opened #182 "Mbed LoRaWAN example"
**Summary:**

Add an application utilising LoRaWAN and Mbed OS.

**What is already there? What do you see now?**

LoRaWAN examples with FreeROTS, AzureRTOS and bare metal.

**What is missing? What do you want to see?**

Mbed OS integration with LoRaWAN.

**How do you propose to implement this?**

A [LoRaWAN example](https://github.com/ARMmbed/mbed-os-example-lorawan) and [STM32WL support](https://

[2021-04-29 13:23] marnixcro opened #183 "Mbed OS-GNSE integration"
**Summary:**

Umbrella issue for integrating Mbed OS with GNSE

- [ ] Integrate Mbed build environment #181
- [ ] Get LoRaWAN functioning #182

[2021-04-30 11:33] lnlp opened #184 "Separate LoRaWAN keys from source code and from application configuration files."
**Summary:**
Separate LoRaWAN keys from source code and from application configuration files.

**Why do we need this?**
- Protection against accidentally uploading LoRaWAN keys to public Git(hub) repositories.
- Prevent that source code needs to be modified for changing keys
(or configuration files where LoRaWAN keys are mixed with application settings).
- Make it easy to swap LoRaWAN keys for tes

[2021-04-30 12:26] elsalahy commented on #184
@lnlp I like the idea of having one central location for the keys and happy to assist you with creating a PR for this.
The current solution is a stop-gab solution and we have this issue opened #56
Let's discuss the design decisions before we jump into implementation.

I'm interested in learning from you:
- Did you observe [se-identiy.h](https://github.com/TheThingsIndustries/generic-node-se/blob/d

[2021-04-30 14:27] lnlp commented on #184
Yes I did.
`se-identity.h` is where the keys are actually defined.
In the current examples you have placed the OTAA keys in `conf.h` and have #included `conf.h` in `se-identity.h`.

Yes and no:
  - No: The secure element is still new to me and I don't have a good understanding of it's details and supporting source code yet.
  - Yes: If I'm correct my observation is that `se-identity.h` also contai

[2021-05-03 09:58] elsalahy commented on #184
@lnlp  you mention

How are you targeting specific applications?
How will the user know which app uses the lorawan_keys file and which doesn't?

Some apps like basic and secure_element_lorawan and many future apps might not use soft SE!

What is your proposal? considering the current structure?

I think the current structure provides this flexibility if the user excludes all of the conf folder in

[2021-05-05 08:58] elsalahy commented on #150
Progress update: GNSE passed pre-certification and we are headed into official certification after doing some antenna tuning.
Internal report filed [here](https://discuss.thethingsindustries.com/t/generic-node-se-v1-1-cetecom-pre-testing-debrief/520)

[2021-05-05 08:58] #150 closed

[2021-05-05 09:00] elsalahy commented on #151
Do we require a shield for CE/FCC certification?
cc: @azerimaker

[2021-05-05 13:57] azerimaker commented on #145
In this version, bulk input 100uF capacitors will be replaced with the `GRM31CR60J107ME39L ` which should provide better decoupling.

[2021-05-05 21:00] azerimaker commented on #89
I did a crude antenna return loss (efficiency) and VSWR measurements with my NanoVNA.
Without any matching network tuning antenna works best for **938MHz** with VSWR value of **~1.73** inside the fully assembled enclosure. Without the enclosure frequency shifts to **~960MHz** with VSWR value of **~1.04**. The antenna clearly performs better without the enclosure, but once it goes through matching

[2021-05-05 21:05] azerimaker commented on #163
@ehogeweg , @lnlp I did a basic efficiency test using my NanoVNA. Please see the results here ➡️  https://github.com/TheThingsIndustries/generic-node-se/issues/89#issuecomment-833003749
You're right, the enclosure and the batteries do affect the antenna performance and removing it results in shifting the tuning frequency upwards. In the coming weeks the device will go through proper matching netwo

[2021-05-07 13:37] lnlp commented on #184
How is it currently done and how does the user currently know? There is not much that changes in that aspect.
It's very simple actually: in `app_conf.h`, `se-identity.h` or where ever you want to put it `#include "../../../keyfiles/lorawan_keys.h"` and additionally in the documentation of course (and possibly a comment somewhere where useful).

<br>

So what's the point here?

<br>

As already sug

[2021-05-10 09:20] azerimaker commented on #151
@azerimaker for now we do. The rules of FCC is much stricter. It's better to play safe.
For future revs we will definitely consider removing it.

[2021-05-11 08:23] elsalahy commented on #184
@lnlp
I agree with some of your points.
At the end this is a user experience improvement.

Please feel free to open a PR if you would like to contribute or I can implement this later in the coming months myself as I don't see it as a priority and the proposed change could break functionality.

Please follow our [contribution guideline](https://github.com/TheThingsIndustries/generic-node-se/blob/de

[2021-05-11 20:01] ehogeweg opened #185 "Will rel 1.1 dev board work in US?"
Hi,

Is there anything else, besides setting ACTIVE_REGION to LORAMAC_REGION_US915 I need to do to make the v1.1 GNSE work here in the US?

How is the antenna matching adjusted for US freq. range? It may be in the docs but I couldn't find it.

Regards,

Erwin

[2021-05-14 17:16] descartes commented on #178
Having just answered a question on the forum about the existence of the payload formatter for what we are assuming to be the pre-loaded firmware, I have to express some considerable surprise that there isn't a simple example reading one of the sensors and sending it - this to me would be the most blindingly obvious hello-world app for a LoRaWAN device and it's whole raison d'être!

[2021-05-14 17:29] descartes opened #186 "Out-the-box firmware source code does not appear to be available"
**Summary:**
We don't know what the default firmware is doing or sending

See https://www.thethingsnetwork.org/forum/t/box-opening-no-video/45548/13

**Steps to Reproduce:**

1. Obtain node
2. Register it
3. Turn it on
4. Look at blinkenlights
5. Admire uplink in console
6. Not have clue what uplink means

**What do you see now?**
A payload with no meaning

**What do you want to see instead?**
Pre

[2021-05-16 20:51] HeadBoffin commented on #175
This topic has many discussions on the forum with many different approaches, many designs become problematic for FUP for downlinks.

[2021-05-18 12:03] elsalahy commented on #186
@descartes
The 100 batch was shipped with basic app as a default FW, and it prints serial information using UART at 115200 8N1.

I will prioritize #178 sensors vanilla app as this will be the application that will be used in the next batch.
And I can provide a simple payload formatter or provide some support to you in case you want to take this on.

For now, this is pending on #178

[2021-05-18 12:08] elsalahy commented on #185
@ehogeweg Thanks for your question.

Indeed Adjusting `ACTIVE_REGION` to `LORAMAC_REGION_US915` will allow the device to function in the US.

@azerimaker can provide more information on the antenna matching and the node support for 868 and 915 frequencies.

[2021-05-18 12:15] elsalahy commented on #178
@descartes Yes agreed.
We should prioritize this issue.

[2021-05-19 09:40] elsalahy opened #187 "Fix freertos_lorawan downlink"
**Summary:**

The downlink handling of freertos_lorawan app is broken.

**Steps to Reproduce:**

1. Flash freertos_lorawan app
2. Send a downlink after OTAA
3. Observe logs and node output

**What do you see now?**

The received downlinks is not passed correctly from the mac layer to the application layer

**What do you want to see instead?**

A functional application that is able to receive downl

[2021-05-20 09:13] descartes commented on #178
Looking at your original text again, I'd recommend having three versions - one that just reads a sensor & sends the data, then an incremental version that adds in low power / sleep, then what ever meets the criteria for 'advanced'.

I'd shy away from "extremely configurable" as that usually infers either lots of #defines or lots of OOP or both and then people have trouble tracing the code and get

[2021-05-20 09:16] descartes commented on #186
I'm happy to create a simple starter app and payload formatter if that's what you are suggesting. If it's just the payload formatter, I have an app for that.

[2021-05-20 09:27] descartes commented on #186
PS, I need a simple something running for the mini-conference at the end of next week for my talk on WebHooks, so I will be creating a sensor read & send example anyway.

[2021-05-20 09:33] azerimaker commented on #186
I've already replied on the [forum](https://www.thethingsnetwork.org/forum/t/box-opening-no-video/45548/26?u=cndrxn), just adding here for redundancy.
@descartes if you want something quick and dirty you can check out this [branch](https://github.com/TheThingsIndustries/generic-node-se/blob/feature/basic_lorawan_TH/Software/app/basic_lorawan_th/lora_app.c), which sends temperature and humidity val

[2021-05-20 09:33] elsalahy commented on #186
@descartes check @azerimaker [comment](https://www.thethingsnetwork.org/forum/t/box-opening-no-video/45548/26?u=elsalahy), maybe this is a good simple example for you.

[2021-05-20 09:42] azerimaker commented on #185
@ehogeweg thank you for your question.
Default matching network is actually better suited for ~915MHz range, so it will certainly work in the US. I did a basic antenna return loss analysis and you can read more about our findings here ➡️  https://github.com/TheThingsIndustries/generic-node-se/issues/89#issuecomment-833003749

[2021-05-20 09:42] #185 closed

[2021-05-20 11:43] descartes commented on #186
All good, rest assured as a moderator I read every single post, all of them - mostly skimming them for guidelines, but still, redundancy for the win!

[2021-05-20 11:46] descartes commented on #186
The payload formatter you have is a v2 style which still works, but I'll update it / create something to run on v3. I cut my teeth on LiveScript back in Sept 1995 so my biggest problem now a days is typing the right programming language in to the right IDE.

[2021-05-21 07:57] wienke opened #188 "Road to circular IoT device"
**Summary:**
Inspired by this great new initiative (https://cep2030.org) this thread is focussed on discussion around how to include circularity by design.

**Why do we need this?**
We need to work towards a more circular product. The big IoT promise can not come at the cost of a huge amount of environmental waste. We are smart and resourceful enough to make products that are both more sustainable

[2021-05-27 11:37] elsalahy commented on #183
@marnixcro what is the status and how can I assist?

[2021-05-27 12:21] marnixcro commented on #183
I added the changes from [this commit](https://github.com/TheThingsIndustries/mbed-os/commit/cc48c6f3f5c57d957a72d12894ef6e944d49ed3c) and got it to compile the lorawan example, but I still need to follow [your guide](https://github.com/TheThingsNetwork/lorawan-example-atecc608a-tnglora/tree/master/mbed-os) to get it working (I had some build conflicts the first time around, but saw what I did wro

[2021-05-31 10:45] elsalahy commented on #180
Blocked on #171

[2021-05-31 10:50] elsalahy commented on #184
@marnixcro can you take on this issue, it's a low priority but it is a good idea to investigate a proper easy solution for handling the keys.

[2021-05-31 10:51] elsalahy commented on #137
@marnixcro can you please undertake this?
Should be simple and easy to do, also low priority.

[2021-05-31 10:52] elsalahy commented on #187
@marnixcro I think this issue is a good start for you on the FreeRTOS side, can you undertake this one.

[2021-05-31 10:53] elsalahy commented on #187
This is a medium priority

[2021-05-31 10:57] elsalahy commented on #56
@marnixcro can you please undertake this.

[2021-05-31 10:58] elsalahy commented on #38
@marnixcro please consider undertaking this?

[2021-05-31 11:42] marnixcro commented on #182
Issue was fixed in the (private) GNSE OS mbed firmware application. [Standard LoRaWAN example](https://github.com/ARMmbed/mbed-os-example-lorawan) can work as well.

[2021-05-31 11:43] marnixcro commented on #181
Mbed OS can be build in (private) repo using Mbed CLI 2 and altering the application header file to switch different applications.

[2021-05-31 11:55] marnixcro opened #189 "MX25R1635 library does not compile with C++ compiler."
**Summary:**

When using a C++ compiler, the MX25R1635 library won't compile as it does some exclusive C things such as:
https://github.com/TheThingsIndustries/generic-node-se/blob/97442fdf3c0a3506eab73380def829bf5e937c7e/Software/lib/MX25R1635/nor_cmd.h#L30
There are more examples, but the basic idea is that it should not be compiled as a C++ code (which some users might consider for their implem

[2021-05-31 12:14] elsalahy opened #190 "Add detailed documentation and description for each app"
**Summary:**

We need to add documentation and description for each application in app [folder](https://github.com/TheThingsIndustries/generic-node-se/tree/develop/Software/app)

**Why do we need this?**

So that the users can understand the functionality of each app and how to use it properly.

**What is already there? What do you see now?**

A simple line per app description [here](https://githu

[2021-05-31 12:34] elsalahy commented on #173
@marnixcro can you undertake this issue, this is a low priority issues, but a good one

[2021-05-31 12:44] elsalahy commented on #141
@azerimaker I think instead of calling it basic_blink, I recommend creating a an app called `template`
and for temperature humidity app, I think #178 will cover the same functionality

[2021-06-02 08:11] marnixcro commented on #137
@elsalahy I had a question about this. I currently have some firmware, but don't know if I'm on the right track. What I have know does something like this:
[code]
I don't know enough about cryptauthlib to know if these commands should be run, so though I should ask before submitting a non-functioning PR. But both commands return ATCA_SUCCESS and the output packet data seems to be random, even when

[2021-06-02 12:12] marnixcro commented on #187
The issue seems to be a bit easier than queue allocation. I was able to have downlinks working by simply multiplying the wait time of the downlink task receive window (and by having a breakpoint during debugging which lenghtened the downlink time). I'll try to find if improper timing was indeed the cause and, if so, why this occurs. For reference, the dirty fix:
[code]

Unrelated but may be good t

[2021-06-02 12:39] elsalahy commented on #137
@marnixcro please use `atcab_random`, see this [header](https://github.com/MicrochipTech/cryptoauthlib/blob/70d082c0110086ef97d50faa43a9a3c847b4bb12/lib/atca_basic.h#L178)

[2021-06-02 12:56] elsalahy commented on #187
@marnixcro great finding, feel free to open a PR with the fix and glad it's a simple fix

[2021-06-04 09:35] marnixcro opened #191 "Ctags in gitignore"
**Summary:**

[Ctags](https://en.wikipedia.org/wiki/Ctags) is a popular indexing program, and the standard way for Vi-like text editors (also supported by Emacs, VS Code, Notepad++, and many others) to manage indexing of functions, variables, files, etc. It outputs a file named 'tags' which should not be included with any commits.

**Why do we need this?**

It's an easy addition and not uncommon t

[2021-06-04 11:59] marnixcro commented on #173
I found the cause of the issue, see these gpg commands:

**After first init**
[code]
**After second**
[code]
All things in the AppGrp are set to zero in the second one. These are function pointers, and will cause an error when executed as they will execute code at function 0.

To fix this you can remove this line from the init:
`    memset(Mxic, 0, sizeof(MxChip));`
As this is the cause of all bei

[2021-06-04 12:47] elsalahy commented on #173
@marnixcro great finding.
I'm leaning towards removing the `FirstFlag`
Can you provide me with the value of `Spi->CurMode` in the first init and the second init to confirm the root cause?

[2021-06-04 12:48] elsalahy commented on #173
This If condition should fail in the second try even if FirstFlag is set to 1.
But it seems (Spi->CurMode == SetMode) is always 1 which is a bigger problem.

[2021-06-04 12:56] marnixcro commented on #173
[code]
I don't believe they change. I can only see it entering the if statement during the second commit.

[2021-06-04 13:08] marnixcro commented on #173
It makes sense as we set as follows (one is set as function param)
https://github.com/TheThingsIndustries/generic-node-se/blob/97442fdf3c0a3506eab73380def829bf5e937c7e/Software/lib/MX25R1635/nor_ops.c#L155
https://github.com/TheThingsIndustries/generic-node-se/blob/97442fdf3c0a3506eab73380def829bf5e937c7e/Software/lib/MX25R1635/MX25R16.c#L60

[2021-06-04 14:47] elsalahy commented on #173
As we discussed, the best way is to edit `MX25R16_Init` to make it **not** use  `MxSoftwareInit` or `MxChangeMode`

[2021-06-09 07:19] #137 closed

[2021-06-09 07:19] #191 closed

[2021-06-09 07:19] elsalahy commented on #158
Closing this issue, please re-open if necessary.

[2021-06-09 07:19] #158 closed

[2021-06-09 07:20] #173 closed

[2021-06-09 07:20] #189 closed

[2021-06-14 09:48] elsalahy commented on #187
What is the status on this?

[2021-06-14 10:57] marnixcro commented on #187
The dirty fix seemed to have fixed it differently than I thought initially. At first I thought that editing this line would be sufficient:
https://github.com/TheThingsIndustries/generic-node-se/blob/0f195aca7273a3f53c929ed4cd37668815adade1/Software/app/freertos_lorawan/conf/lorawan_conf.h#L55
But that did not solve the issue. I debugged it further and it seems that it always jumps into RX timeout

[2021-06-16 18:31] elsalahy opened #196 "Broken multicast support (McRootKey is always generated based on LoRaWAN version 1.1.0 scheme)"
**Summary:**

Our current LoRaWAN stack generates the MC keys based on 1.1 even when configured for 1.0.3

This is a mirror of an already fixed issue on LMN version 4.4.5

https://github.com/Lora-net/LoRaMac-node/issues/936

[2021-06-16 18:36] elsalahy commented on #196
@johanstokking we use an ST LoRaWAN stack that is based on LMN v4.4.4

A lot of critical fixes related to FUOTA and LoRaWAN have been done since then as you can see from the [change log](https://github.com/Lora-net/LoRaMac-node/blob/master/CHANGELOG.md)

Should I just keep patching our current stack?
The issue mentioned above wasted a lot of my effort o debug and identify the root cause.

[2021-06-18 09:34] marnixcro commented on #38
@elsalahy I did some work for this already but was wondering about which ones should actually be changed. I made an overview of what I thing is lacking in each lib:
- [x] ATEC608A: seems fine
- [ ] BUZZER: has no documentation
- [ ] FreeRTOS-Kernel: no doxygen
- [x] FreeRTOS-LoRaWAN: seems fine
- [x] GNSE_BSP: seems fine
- [x] GNSE_HAL: seems fine
- [ ] GNSE_TRACER: tiny_printf misses some doxygen

[2021-06-18 11:15] elsalahy commented on #38
@marnixcro great overview, let's start small and target libraries maintained by us
We shouldn't fix/update any library that is OS or LoRaWAN related.

The changes should target the comments only to match our guidelines.
Also it's good to know that this is a technical debt issue and it's extremely low priority as we have more urgent functional issues.

So please consider doing this only when you ha

[2021-06-19 14:35] johanstokking commented on #196
What is the alternative? Switch to LMN and add ST support ourselves?

[2021-06-21 09:02] elsalahy commented on #196
Yes
This approach also has it's disadvantages, but it pays out in the long term.

As a short term solution I can keep patching the current ST version until they fix it them selves.

[2021-06-22 08:44] johanstokking commented on #196
What is the balance in terms of effort between to these two approaches?

1. Take vanilla LMN and add ST support
2. Take ST LMN and patch upstream changes

[2021-06-24 12:25] johanstokking commented on #196
OK, then I'm in favor of going with taking the vanilla LMN and add ST support.

Until, of course, ST publishes a stable version that covers our use cases. I don't see this happening in the short term, especially not with LoRaWAN 1.0.4 and 1.1.1 coming up.

[2021-06-25 07:37] elsalahy commented on #196
Thanks @johanstokking.
I will plan this accordingly.

[2021-06-29 09:49] #69 closed

[2021-06-29 09:49] #82 closed

[2021-06-29 09:49] #196 closed

[2021-06-29 10:20] marnixcro commented on #187
Rx windows are always timed out, a test should be made if the correct timing is reached in the freertos, this can be compared to the timing on the basic_lorawan application to see if the downlink receive time is off.

[2021-06-29 10:23] marnixcro commented on #183
@elsalahy can you please review the [application](https://github.com/marnixcro/mbed-os-generic-node-se) and the changes in the branch.

[2021-06-29 10:30] marnixcro commented on #160
@wienke how should we move forward with this? Update the missing parts and continue, wait it out, etc.?

[2021-06-29 11:31] elsalahy commented on #187
@marnixcro yes indeed, as we discussed, we can adjust the window offsets and timings to ensure the FreeRTOS layer downlink handling is correct.

We need:
1- One power analysis snapshot of bare-metal uplink and downlink
2- One snapshot of power analysis of freertos uplink and downlink (missing a downlink would be preferable)

we can align theses snapshots and see  if we can find the root cause of t

[2021-06-29 11:38] elsalahy commented on #183
@marnixcro I will review the repository and give my feedback within this week.
anything in specific should I focus on?

[2021-06-29 11:50] elsalahy commented on #128
@azerimaker can you please update this issue with latest performance gains communicated by Ignion?

[2021-06-29 11:52] elsalahy commented on #89
This issue is part of Q2,  do we have any progress on this?

[2021-06-29 11:58] elsalahy commented on #186
This issue is partially addressed in #194
The new patch of devices will have the `sensors_lorawan` application  communicated in #178.

@descartes is your issue addressed in the new application `sensors_lorawan`?
If yes, is it possible to close this issue?

[2021-06-29 12:00] elsalahy commented on #178
This issue is partially addressed in #194
The completion of this issue depends on #171

[2021-06-29 13:15] elsalahy opened #199 "Improve apps logs"
**Summary:**

We can improve the logged messages at the start of each application in order to have more consistency across applications.

**Why do we need this?**

To have a more professional looking output at the start of each application.

**What is already there? What do you see now?**

Each application outputs a different log message at the start of the app.

**What is missing? What do you wan

[2021-06-29 13:28] marnixcro commented on #183
Maybe kinda the UX (for things such as switching the applications, does that make sense from a user perspective). Of course regular things like code/git-hist cleanliness, functionality, etc. are still important.

[2021-06-30 11:32] elsalahy opened #200 "Remove redundant/repeated app files (lib dependency)"
**Summary:**

There are multiple files that exist only to fix lib dependency issues.
All applications with this folder `Software/app/<appname>/lib_dependency` can benefit from eliminating theses files by either moving them or by deleting them.

**Why do we need this?**

To have better maintenance and to follow the DRY principle.

**What is already there? What do you see now?**

Application with fo

[2021-06-30 12:20] marnixcro commented on #187
I made a graph showing the downlink retrieval times (no downlink was set, but the two retrieval times where added):
|Basic_lorawan |freertos_lorawan | Delta |
|---|---|---|
|5s14ms | 5s129ms |+115ms|
|218ms| 171ms |-47ms|
|781ms | 754ms | -27ms|
|218ms | 271ms |-47ms|

Both were done with the ADR off and at DR_0

This picture also shows that the downlinks retrieval times do touch briefly, but the

[2021-06-30 12:26] marnixcro opened #201 "FreeRTOS LoRaWAN ADR not configurable"
**Summary:**

Whilst a [variable exist](https://github.com/TheThingsIndustries/generic-node-se/blob/442b9a8017cd7e2705f71793a8680334c336f374/Software/app/freertos_lorawan/conf/lorawan_conf.h#L106) in the FreeRTOS LoRaWAN application to change the ADR it doesn't function as the ADR will be turned on regardless.

**Steps to Reproduce:**

1. Set [ADR var](https://github.com/TheThingsIndustries/generi

[2021-06-30 14:12] #141 closed

[2021-07-01 09:38] descartes commented on #186
Yes, gives something sensible as a starter and pretty much the same as the code I used for my TTS conference demo on WebHooks.

Sleep will need to be added very soon - the most basic of nodes usually reads & sends sensor data & then sleeps for a chunk of time.

[2021-07-01 09:38] #186 closed

[2021-07-01 09:45] elsalahy commented on #188
@azerimaker care to comment on this proposal.

@wienke what should be the outcome of this issue, and should we move this discussion to our Discuss forum?

[2021-07-01 10:37] azerimaker commented on #146
Current revision (1.1b) this issue has been fixed.

[2021-07-01 10:42] azerimaker commented on #128
The design went through "Antenna Matching Network Tuning" process and we're happy to announce that it's efficiency have been improved quite significantly. Antenna has been tuned for various use cases and frequency ranges. Respective efficiency gains are shown below.
![ignion-report](https://user-images.githubusercontent.com/2662257/124111416-8bfd8100-da69-11eb-86bd-de0e4d1f3a6e.PNG)

[2021-07-01 10:42] azerimaker commented on #128
Closing this issue for now, but will repoen it once we have the second batch of nodes.

[2021-07-01 10:42] #128 closed

[2021-07-01 10:49] azerimaker commented on #89
As suspected overlapping battery terminals on the ANT clearance area does slightly reduce the efficiency, but after we've gone through the matching network retuning on the actual device it became evident that the real device performs better than the simulated results. Please see #128 for more info.

[2021-07-01 10:49] #89 closed

[2021-07-01 10:51] azerimaker commented on #36
For now with the version v.1.1b we're going to be using WLCSP package of the buck-boost converter, but we'll be getting custom run of DFN package in 2.8V output voltage for our next large-volume run.

[2021-07-01 10:51] #36 closed

[2021-07-02 15:21] marnixcro commented on #56
For a discussion, here is my suggested changes for the handling of keys. #138 already featured the most important issues with the key handling for me.

The suggestion in #184 is an improvement for me since Git wouldn't track the keys anymore, but has some flaws in my opinion since:

1. The application keys would not be specific to a device anymore. This can be (and is listed as) an advantage, espe

[2021-07-05 07:28] marnixcro opened #203 "FreeRTOS RX retrieval windows to long"
**Summary:**

FreeRTOS has some drift, causing downlinks to fail. This relates to PR #202 and issue #187.

**Steps to Reproduce:**

1. Default value should show this in current consumption:
![image](https://user-images.githubusercontent.com/77615373/123959124-1aacc800-d9ae-11eb-81ec-4460be6eedf5.png)
2. Change this:
https://github.com/TheThingsIndustries/generic-node-se/blob/40636650a7cb9c0030e390

[2021-07-05 07:29] marnixcro commented on #187
Blocked by #203

[2021-07-05 09:39] elsalahy commented on #56
@marnixcro Thank you for the proposals.
I'm in favor of option 2.

But I think we should experiment with having one key file for all applications.
I think it should be something like `software/app/conf/lorawan_keys_conf.h`

@marnixcro what are your thoughts on this, do you see a lot of disadvantages?

[2021-07-05 09:58] elsalahy commented on #163
@azerimaker did Ignion provide any feedback on the effect of the enclosure on the antenna performance?

[2021-07-05 10:16] azerimaker commented on #163
unfortunately their "Matching Network Optimization" service doesn't include that, but I will ask them to perform those tests, hopefully they agree to that.

[2021-07-05 10:31] azerimaker commented on #149
We've picked [this ](https://drive.google.com/file/d/1XM6PYIHjcL4YFFjKD1V_C2ZlUPKB8d2l/view?usp=sharing)design and it will be screen printed with UV resistant color and glue.
![frontlabel](https://user-images.githubusercontent.com/2662257/124457960-b5c9e700-dd8c-11eb-8b17-4ab24625075d.PNG)

[2021-07-05 10:31] #149 closed

[2021-07-05 10:35] elsalahy commented on #106
@marnix, can you please break down this issue into smaller manageable issues so that we can start implementing the best practices

[2021-07-05 10:35] azerimaker commented on #123
In the next revision (v1.1b) we have replaced the voltage supervisor with the 1.67V variant (TPS3839G18). I'll reopen this issue if this behavior persists.

[2021-07-05 10:35] #123 closed

[2021-07-05 10:46] elsalahy commented on #175
@marnixcro could you please take the lead in designing and implementing this library.

[2021-07-05 19:25] marnix commented on #106
That comment from @elsalahy is presumably not for me but for @marnixcro. :-)

[2021-07-06 07:18] elsalahy commented on #106
Indeed @marnix, it was intended for @marnixcro 😅

[2021-07-06 12:18] marnixcro commented on #56
I don't really see any major disadvantages no, I just though you would prefer keeping the old configuration per application style. But I guess it makes more sense to have one master key for all the applications. I'm not sure how most users use the keys and if they use different keys for different applications, although that is probably not the case at all or just a small minority. Another downside

[2021-07-06 14:01] elsalahy commented on #56
@marnixcro I'm working on #133 to reduce the configurations complexity, and per app conf is indeed a manageable style.

We need a common config (for all apps) and a private app config (for each app)
Key configurations falls under common conf.

Can you please propose a LoRaWAN key config template that can be used by all applications?

[2021-07-07 07:52] wienke commented on #188
This is indeed a place holder for now. We can move it to the backlog.

[2021-07-07 08:35] azerimaker commented on #163
@lnlp Ignion has conducted the above mentioned tests and it's clear that frequency shift is major. One should use the device as a fully assembled unit if they want to achieve good coverage.  I hope this answers your question. If there are no further discussion, please consider closing this issue.

![image002](https://user-images.githubusercontent.com/2662257/124727312-e33e9e00-df0e-11eb-8af9-7cf74

[2021-07-07 08:42] azerimaker commented on #163
Unlike anticipated the batteries and the contacts didn't have major impact on the antenna performance and its radiation pattern. Please see the results below for your reference.

![rad-1](https://user-images.githubusercontent.com/2662257/124727967-7d064b00-df0f-11eb-96ad-308539eb902c.PNG)
![rad-2](https://user-images.githubusercontent.com/2662257/124727979-80013b80-df0f-11eb-9038-38a54360854a.PNG)

[2021-07-07 09:58] elsalahy commented on #163
@ehogeweg  Does the above answer provide sufficient information for GNSE use with an enclosure.
If yes, could you please the issue

[2021-07-07 10:36] marnixcro commented on #57
For the current status of the APIs and new names:

- Clock Function would be something like GNSE_BSP_CLK_Init, with the content being the configuration present currently in all applications.
- Debug interface name would be GNSE_BSP_DBG_Init. Like with the clocks, all applications currently redefine DBG_Init without any changes between them.
- Sensors are already done in #73, as was mentioned previ

[2021-07-07 10:54] elsalahy commented on #57
Ok some notes:
- For the clock it should be `GNSE_HAL` and not `GNSE_BSP`
-`DBG_Init()` will be handled by the LPM since it relates to using the debugger in low power.

[2021-07-07 10:54] azerimaker commented on #188
@wienke (https://cep2030.org) is indeed a great initiative. IMO our GN doesn't really fit into their initial product categories (temperature exchange equipment, screens and monitors, lamps, large equipment, and small IT) we can still consider planning ahead for reducing e-waste. Some big players like Apple have full control over the production and they can control the whole supply chain, push comp

[2021-07-07 12:54] marnixcro opened #204 "Jitter and backoff implementation for basic_lorawan"
**Summary:**

Most of the LoRaWAN applications retry join attempts after a set amount of time (default is around 10s). This can lead to problems when large deployments are reset, as it can hog the network, with the potential of none of the devices being able to join. This can be improved by adding jitter to randomize join attempts. Additionally, backoff can be implemented as well. FreeRTOS [alread

[2021-07-07 13:33] mluis1 commented on #204
Just for info the MAC layer already implements the Join back-off as specified by the LoRaWAN specifications chapter "7 Retransmissions back-off" (The seen behavior is like the duty-cycle enforcement)
This feature is always enforced.

The only thing that is required at application level is to insure that the end-device transmissions are randomized.

[2021-07-07 14:25] marnixcro commented on #204
You're right, it's not a problem with the mac layer's implementation but rather on the device level application since basic_lorawan will join (after the initial failed attempt) when trying to sent, and the timing is set by APP_TX_DUTYCYCLE (which is set at the mentioned 10s).

[2021-07-08 14:02] elsalahy commented on #204
@marnixcro can you please adjust the the description of the issue following Miguel's input.
Mainly concerning the need for backoff.

[2021-07-09 01:06] ehogeweg commented on #163
Sorry, I completely missed your comments. Yes, this answers the question. Thanks for providing the graphs.

Cheers,

Erwin

[2021-07-09 01:06] #163 closed

[2021-07-12 07:29] elsalahy commented on #187
Moved this to Q3

[2021-07-12 07:30] elsalahy commented on #182
Still in review, moving this to Q3

[2021-07-12 08:11] elsalahy opened #206 "GNSE/STM32WL supported platforms"
| Feature/Platform | STM32WL             | GNSE                           | LoRaWAN Class A Example   |
|------------------|---------------------|--------------------------------|---------------------------|
| FreeRTOS         | :white_check_mark:  | :white_check_mark:             | :white_check_mark:        |
| AzureRTOS        | :white_check_mark: | :white_check_mark:             | :arrows_count

[2021-07-12 08:21] elsalahy commented on #206
Of course the bare-metal support exists with 4 apps now:
- basic
- basic_lorawan
- freefall_lorawan
- sensros_lorawan

[2021-07-12 08:36] azerimaker commented on #206
I'd include Arduino to this list as well and make try get community help for its improvement. There's already some work on this:
https://github.com/stm32duino/Arduino_Core_STM32/pull/1429
https://github.com/stm32duino/Arduino_Core_STM32/pull/1428

[2021-07-12 11:19] wienke commented on #160
Let's focus on the basic app right now and put this to the backlog.

[2021-07-12 13:21] elsalahy opened #208 "Configurable sensors transmission interval via downlink"
**Summary:**

It should be possible to adjust `sensors_lorawan` transmission interval via a downlink.

**Why do we need this?**

To be able to change the device behavior using a downlink.

**What is already there? What do you see now?**

A programmed transmission interval (can be configured before compilation/flashing).

**What is missing? What do you want to see?**

Adjusting the transmission int

[2021-07-12 13:22] elsalahy commented on #208
@marnixcro please ask any questions you might have here before jumping into implementation.
This issue is a breakdown of the out of the box app wishlist [here](https://discuss.thethingsindustries.com/t/generic-node-sensor-edition-apps/475/5)

[2021-07-12 13:33] elsalahy commented on #208
@marnixcro please also add iInteractive LED behavior on sensors transmissions (blinking).
But please make sure you sleep properly (set used LED pins to analog and add them in stop mode hooks)

[2021-07-13 08:57] #142 closed

[2021-07-13 08:57] #171 closed

[2021-07-13 16:11] SloMusti commented on #208
The practice I found useful is for devices is to allow for a system interval to be in range of 1-1440 minutes, which means device will try to send at least one a day and one can not configure it outside that scope. A desired implementation of this setting would also be to be reboot persistent, particularly if a system default is rather fast, as otherwise an unnoticed reboot can result in poor batt

[2021-07-14 09:18] goran-mahovlic opened #209 "SetorErase is missing"
**Summary:**

Storing the configuration in flash, as far as we have seen Erase
sector is not implemented
...

**Why do we need this?**

GNSE_Flash_BlockErase and
GNSE_Flash_ChipErase. For our particular implementation we found that
uses too much power as it needs a lot of time for erasing.
...

**What is already there? What do you see now?**

https://github.com/TheThingsIndustries/generic-node-se/

[2021-07-14 09:35] goran-mahovlic opened #210 "Possible I2C HAL issue"
**Summary:**

While using library for AS7341 sensor I have noticed that I2C HAL sometimes fails and returns HALL ERROR. That is problematic as at that point I cannot send commands to sensor and this sensor needs to be set into sleep mode via commands. If I do not check HAL fail I end up with higher consumption in sleep mode. And after some time, and wake HAL starts to work - so it is not noticeabl

[2021-07-15 07:30] marnixcro commented on #56
@elsalahy personally I think that app/conf/lorawan_keys_conf.h is already good enough but I guess we could go for app/conf/lorawan_keys.h to make it a bit shorter (lorawan_keys_conf.def.h is kinda long).

[2021-07-15 08:13] elsalahy commented on #56
Yeah I agree `lorawan_keys_conf.h` is good enough for now

[2021-07-15 08:24] elsalahy commented on #209
Thanks for opening the issue.

Yes we can add sector erase to the abstraction layer, and developers can also use `MxSE` directly.

[2021-07-15 09:42] elsalahy commented on #210
Hello @goran-mahovlic ,

Thanks for opening the issue.

First:

I think it is good to mention in the description that this issue is related to the external sensor bus I2C2, and your own personal integration with an external AS7341 sensor.

Second:

`HAL_I2C_Mem_Write` returns either `HAL_OK`, HAL_ERROR` or `HAL_BUSY`
Any failure to communicate with the external sensor (mainly a timeout) would resu

[2021-07-19 03:49] #190 closed

[2021-07-22 00:27] hallard commented on #206
going further on supported platform, @elsalahy I've done some board based on STM32WLE5JCIx (LoRa-E5) and STM32WLE5CCUx (RAK3172), you can take a look on this [post](https://www.thethingsnetwork.org/forum/t/custom-boards-based-on-lora-e5-and-rak3172/49947) for the boards.

How difficult would be to add them on target ? We already added them for mbed-os so I guess it could be easy here also with som

[2021-07-22 08:20] marnixcro commented on #208
@elsalahy some minor questions:
1. You probably also want a led sequence for the downlinks right?
2. I think the idea of it being boot persistent from @SloMusti makes a lot of sense. Would it be better to do it on the external flash or try to do it in the internal one you think? Internal flash would be nicer in my opinion as the user could very easily overwrite it by erasing it before programming,

[2021-07-27 09:12] elsalahy commented on #206
@hallard the board looks great and I like that you already added official support for Mbed OS.

I can assist with points 2 and 3, can you please share your fork where you did point 1.

The current repo is designed to be compatible with the single core variant of STM32WLE5, so adding support for your board should be easy and straight forward.

[2021-07-27 09:22] elsalahy commented on #208
@marnixcro

1. Feel free to propose something.
2. Please open another issue for this (reboot persistence) and keep this issue focused on configurable transmission interval via downlinks.
3. Feel free to propose something, I guess successful downlink config should be Green, and failure should be Red!

[2021-07-27 09:38] marnixcro opened #214 "Reboot persistence"
**Summary:**

All applications will start anew, meaning it does not matter what the reason for a reset it, it will just reboot. This can cause issues when devices are stationed that have configurations done at run-time (with downlinks for instance) as any reboot can return to their old configs without it being expected by the user. Related to #208.

**Why do we need this?**

It helps with some app

[2021-07-27 09:45] hallard commented on #206
Code is here
https://github.com/ARMmbed/stm32customtargets/blob/master/TARGET_STM32WL/TARGET_LORA_E5/LORA_E5_radio_driver.cpp

[2021-07-27 11:01] elsalahy commented on #206
@hallard This looks great, thanks for the tips and helpful links.
@marnixcro could we do something similar for GNSE (related to #183).

[2021-07-27 14:20] marnixcr opened #215 "Improve basic application for production/certification"
**Summary:**

Umbrella issue and discussion place for creating an application for testing the hardware of the GNSE for production/certification, similar to the basic app.

[2021-07-28 14:18] #180 closed

[2021-08-04 12:31] elsalahy commented on #215
The basic app is designed to verify the functionality of all on-board peripherals.
This app can be used in the production line to verify the PCB.

I think we need to add the following:
1. Report failed component (Buzzer, SE,..., etc) with diagnostics code
2. Improve readability of the results (simplify wording, reduce log size)

We can add more improvements/features depending on manufacturing faci

[2021-08-04 13:18] elsalahy opened #217 "Integrate latest STM32WL v1.1 FW package and support files"
**Summary:**

Update our repo to use the latest FW package v.1.1 released by ST 0n 23/07/2021.
ST [v1.1 STM32CubeWL MCU package](https://github.com/STMicroelectronics/STM32CubeWL/tree/v1.1.0) and it's [release notes](https://htmlpreview.github.io/?https://github.com/STMicroelectronics/STM32CubeWL/blob/main/Release_Notes.html) indicate major changes that should be integrated within our repo.

**Why

[2021-08-09 08:39] azerimaker opened #218 "Design a custom sleeve for the Generic Node (SE) packaging"
**Summary:**

As the GN production is proceeding we need to come up with a sleeve design very similar to one of our earlier product: the Things Node.

**Why do we need this?**

It needs to be GN branded and highlight its basic features and cloud connectivity.

**What is already there? What do you see now?**

Previous design of our node could be a good reference point.
![ttn-node](https://user-imag

[2021-08-13 18:19] sabas1080 commented on #206
Basic Support ready for STM32duino https://github.com/stm32duino/Arduino_Core_STM32/pull/1459

[2021-08-14 15:35] lnlp commented on #206
Please don't use the name STM32duino.
It's confusing (which I motivated on several places on the internet).

The correct name for this Arduino core is: `Arduino Core STM32`.

[2021-08-18 09:03] pierrephz commented on #218
Hey, seeing this issue I think it must be the other way around:

I have the branding, we have the assets, there is no problem, but I need to know the dimension to create the structure / the base of the work

cc @rish-c @azerimaker

[2021-08-18 09:47] rish-c commented on #218
Possible dimension -
20 X 15 X 6 (cm)

Played around a bit and found this website for reference - http://ronenness.github.io/3D-Box-Shot-Maker/

There are 2 ways to have the packaging -
* Sleeve design^ - so the top cover slides off and you get the tray where the node along with other accessories are there
* Open design^^ - open the box and the parts are stuffed inside the styrofoam packaging (I p

[2021-08-19 14:39] elsalahy commented on #206
Awesome @sabas1080, do we need to wait for v2.1.0 to try it?
STM32WL is not indexed yet in [here](https://raw.githubusercontent.com/stm32duino/BoardManagerFiles/master/package_stmicroelectronics_index.json)

![image](https://user-images.githubusercontent.com/24204263/130088457-95f32826-be2f-4631-9aa7-853834e821f9.png)

[2021-08-19 14:59] sabas1080 commented on #206
@elsalahy yes or add manually

[2021-08-20 08:39] azerimaker commented on #218
@rish-c  20x15x6 cm sounds plausible.
Since the inner packaging part will be handled by the CM we have to ask them if that size is sourceable, but it will be pretty close to this size. @pierrephz  please work with this dimension to start off.

If they can get the branding info printed on the box directly that would simplify the design, but last time they mentioned that the sleeve approach would be

[2021-08-20 09:16] elsalahy commented on #160
@marnixcro could you please provide a small report on the progress done on this issue from your side.

The report should be:
1. In PDF format, and uploaded [here](https://drive.google.com/drive/folders/17DJXbyA3pLFlHnEMJizYBwRDDytM6GVK?usp=sharing).
2. Should be concise detailing the requirements, your analysis and achieved results.

[2021-08-20 09:20] elsalahy commented on #214
@marnixcro have you done any development for this issue, if yes, please share the branch.

[2021-08-20 09:27] elsalahy commented on #175
@marnixcro have you done any development for this issue, if yes, please share the branch.

[2021-08-20 09:31] elsalahy commented on #57
This issue is implemented in #73, #171 and #207
For further improvements we should open new smaller issues.

[2021-08-20 09:31] #57 closed

[2021-08-20 09:32] elsalahy commented on #38
@marnixcro have you done any development for this issue, if yes, please share the branch.

[2021-08-20 09:34] elsalahy commented on #203
Can you please share some informations on your attempts to solve this?

[2021-08-20 09:35] elsalahy commented on #203
@marnixcro Can you please share some informations on your attempts to solve this?

[2021-08-20 09:42] marnixcro commented on #214
I pushed it to feature/feature-reboot (although there was not a lot of progression on this).

[2021-08-20 10:17] marnixcro commented on #38
I pushed it to docs/docstyle-match

[2021-08-20 10:25] marnixcro commented on #203
I tried finding the cause with the clocks drifting, but the datasheet mentioned max drifts of only 1-2% on these clocks. I have not been able to find where in the firmware the downlink event gets triggered.

[2021-08-24 14:56] marnixcr opened #221 "Sensors_lorawan gets stuck without debugger due to uninitialized ADC"
**Summary:**

Sensors_lorawan gets stuck when the debugger is turned off due to the ADC not being reinitialised after stop mode.

**Steps to Reproduce:**

1. Set [DEBUGGER_ON](https://github.com/TheThingsIndustries/generic-node-se/blob/df1c9b8dd9652ac8cc39db01d5674b4eebca0572/Software/app/sensors_lorawan/conf/app_conf.h#L31) in sensors_lorawan to 0.

**What do you see now?**

The application gets

[2021-08-25 14:46] elsalahy commented on #178
This is closed by #205

[2021-08-25 14:46] #178 closed

[2021-09-07 13:47] elsalahy commented on #139
This is covered in #205

[2021-09-07 13:47] #139 closed

[2021-09-08 09:01] #200 closed

[2021-09-08 11:59] #199 closed

[2021-09-24 09:45] elsalahy commented on #221
This should be fixed in #208, otherwise we can re-open it

[2021-09-24 09:46] #221 closed

[2021-09-24 09:50] elsalahy commented on #215
This was done and sent to the manufacturing facility by combining the basic app with basic_lorawan app.
If further improvements are needed we can re-open this issue.

[2021-09-24 09:50] #215 closed

[2021-09-24 13:25] elsalahy commented on #188
Any discussion on this topic should take place [here](https://discuss.thethingsindustries.com/t/road-to-circular-iot-device/658)

[2021-09-24 13:25] #188 closed

[2021-09-24 13:39] elsalahy commented on #127
I see from the new HW design that this issue is solved.

![back](https://user-images.githubusercontent.com/24204263/134683769-c64078d4-ff5f-478b-ac93-1e5096ce3ed7.jpg)
![front](https://user-images.githubusercontent.com/24204263/134683780-3bc7ca2b-690d-4b48-a566-5fcb299b7bac.jpg)

[2021-09-28 14:55] pradeeka7 opened #224 "Accelerometer reading prints the wrong number of times."
**Summary:**

When you run the basic app, the number of times the serial terminal prints the accelerometer reading is less than 1 the value defined in the app_config.h file.

For example, if you define,

#define NUMBER_ACCELEROMETER_READ 5

The expected number of times is 5 but you will get 4 readings.

However, this does not happen when you run the application in debug mode.

**Steps to Reproduce

[2021-10-12 08:12] elsalahy commented on #160
This issue was moved to our discuss.

[2021-10-19 08:31] #224 closed

[2021-10-25 12:11] elsalahy opened #227 "Add Doxygen configurator and generator"
**Summary:**

We need to add Doxygen generation and configuration file

**Why do we need this?**

To be able to auto generate APIs documentation

**What is already there? What do you see now?**

Doxygen API documentation in source code.

**What is missing? What do you want to see?**

Doxygen auto generated HTML

**How do you propose to implement this?**

Add the configuration file to generate the

[2021-10-27 09:10] #227 closed, assigned to elsalahy

[2021-10-27 14:02] elsalahy opened #229 "Better enclosure screws"
**Summary:**

Can we investigate if the enclosure screws material can be changed to something that is more durable.
The current enclosure screws can't handle the screw driver pressure and tend to have edge deformity if screwed and unscrewed multiple times.

CC: @wienke and @azerimaker

[2021-11-02 09:37] elsalahy opened #230 "Improve codebase formatting"
**Summary:**

Need to do a round of improvements to codebase format to remove any inconsistencies and improve readability.

**Why do we need this?**

To improve readability and reduce maintenance overhead.

**What is already there? What do you see now?**

Good initial code format and indentation.

**What is missing? What do you want to see?**

Remove inconstancies and improve the readability of th

[2021-11-02 09:51] elsalahy opened #231 "Remove outdated cmake files"
**Summary:**

Unused/unmaintained Cmake files that were designed to increase the speed of the builds should be removed as it's not a good thing to keep outdated files in the repo.

**Why do we need this?**

To avoid distracting developers with outdated tool.

**What is already there? What do you see now?**

Outdated/unmaintained cmake files

**What is missing? What do you want to see?**

Up to dat

[2021-11-10 10:34] lnlp commented on #127
@elsalahy

On above pictures with new HW design the silkscreen on PCB top side still lists "v1.1".

New hardware designs should have new versions of course but above picture does not confirm that.

It appears that either the new PCB has a bug in the silk screen or above picture is not the new HW design.
Which of these assumptions is correct?

[2021-11-24 10:44] elsalahy commented on #127
@lnlp I think @azerimaker increased the version to v1.1 b?

[2021-11-24 11:37] lnlp commented on #127
Maybe, but that is not what the version on the PCB silkscreen says.

[2021-11-25 12:54] #231 closed

[2021-12-13 09:33] azerimaker commented on #146
@NicolasMrad that's what we will do with the next batch.

[2021-12-13 09:37] azerimaker commented on #127
Hi @lnlp.
Indeed the PCB silkscreen has not been updated to indicate b version, as we did not see a reason to do so, because there was basically no hardware or layout changes. It was simply a logo and silkscreen update.

[2022-01-11 12:17] niondir opened #236 "Usage of LmHandler"
I'm just curious if there is a specific reason why the `LmHandler` APIs are not used or if there are any plans to integrate it?

I'm using the generic-node as a template and going to use `LmhpRemoteMcastSetup.c` from the LmHandler directory for better Multicast support.
I notices that there is a full Middleware stack implemented that mirrors some of the LoRaMac APIs like Join, Send Message, etc.
e

[2022-01-13 15:22] niondir opened #237 "LoRaWAN_Send does not sync to LoRaWAN Task"
`prvLoRaMACTask()` is handling the LoRaWAN Stack via `LoRaMacProcess()`

When calling `LoRaWAN_Send(...)` internal state of the LoRaWAN stack is modified, e.g. `LoRaMacMcpsRequest()` modifies the non volatile `MacCtx` which is also accessed in `LoRaMacProcess()`

It's not that I have any actual bug with this, but I want to understand the architecture. Is this is by purpose, or should we actually s

[2022-03-15 07:44] niondir opened #238 "FreeRTOS Port"
**Summary:**

The project uses: /lib/FreeRTOS-Kernel/portable/GCC/ARM_CM3
But the processor is an `cortex-m4`. We should probably use `ARM_CM4_MPU` as FreeRTOS Port.

https://github.com/TheThingsIndustries/generic-node-se/blob/96d52784379160cbe84a0af9a5461804052c1d8c/Software/app/freertos_lorawan/CMakeLists.txt#L35

**Update:**

If found this:
https://www.freertos.org/FreeRTOS_Support_Forum_Archiv

[2022-03-15 09:27] niondir commented on #238
Sadly I did not found a FreeRTOS Port for the M4 that supports the MCU while not having an FPU ...

[2022-03-15 09:27] #238 closed, assigned to nobody

[2022-03-29 20:13] NicolasMrad commented on #218
Can this be closed?

[2022-03-29 20:16] NicolasMrad commented on #146
can this be closed?

[2022-03-29 21:15] NicolasMrad commented on #229
@azerimaker did you test out the durability of the screws?

[2022-04-19 08:15] #146 closed

[2022-04-19 08:15] #218 closed

[2022-04-19 08:24] azerimaker commented on #218
@NicolasMrad thank you for closing this.

[2022-04-19 08:24] azerimaker commented on #146
@NicolasMrad thank you for closing this as well.

[2022-04-19 08:27] azerimaker commented on #229
@NicolasMrad current screws are the default ones supplied by the manufacturer and after various mechanical torture testing they seem to hold OK. I don't see a reason to upgrade them right now.

[2022-04-19 08:27] #229 closed

[2022-06-23 13:56] NicolasMrad commented on #230
is this still relevant?

[2022-06-23 13:56] NicolasMrad commented on #217
is this still relevant?

[2022-06-23 13:58] NicolasMrad commented on #204
is this still relevant?

[2022-06-23 14:00] NicolasMrad commented on #203
is this still relevant?

[2022-06-23 14:01] NicolasMrad commented on #187
is this still relevant?

[2022-06-23 14:03] NicolasMrad commented on #184
any updates here?

[2022-06-23 14:05] NicolasMrad commented on #182
any updates here?

[2022-06-23 14:06] NicolasMrad commented on #181
any updates here?

[2022-06-23 14:06] NicolasMrad commented on #166
any updates here?

[2022-06-23 14:07] NicolasMrad commented on #134
@azerimaker can you please update this thread and post about the FCC updates

[2022-06-23 14:08] NicolasMrad commented on #133
any updates here?

[2022-06-23 14:08] NicolasMrad commented on #75
any updates here?

[2022-06-23 14:08] NicolasMrad commented on #56
any updates here?

[2022-06-27 08:23] azerimaker commented on #56
@NicolasMrad  we do have an option to switch the EUI keys from the secure element to a user defined EUI, but the code needs to be cleaned up and merged.

[2022-06-27 08:25] azerimaker commented on #181
Mbed is is not a prirority ATM, therefore I think it's best we close this topic now and reopen it when needed.

[2022-06-27 08:27] azerimaker commented on #182
Not much, please see the other comment.

[2022-06-27 08:27] #182 closed

[2022-06-27 08:30] azerimaker commented on #75
Let's keep this for future.

[2022-06-27 08:34] azerimaker commented on #133
We already have the _app_conf.h_ configuration file in place and it does the job. As of now a GUI configurator is out of scope, but we can revisit this topic.

[2022-06-27 08:34] #133 closed

[2022-06-27 08:43] azerimaker commented on #204
It is. We need to look into this.

[2022-08-01 17:44] Hexagon3626 opened #240 "GNSE_BSP_Ext_Sensor_I2C2_Init() Failure"
**Environment:**

Windows 10
STM32CubeIDE v10.0.0
Generic Node Sensor Edition v1.1

**Summary:**
Basic Project fails when adding _GNSE_BSP_Ext_Sensor_I2C2_Init();_ within main.c. No problems occur when external i2c is not called or with _GNSE_BSP_Sensor_I2C1_Init();_ that is already in place

No I2C timings or other parameters have been changed

_HAL_Init()_ and  _GNSE_BSP_Sensor_I2C1_Init();_ is

[2022-08-04 10:06] azerimaker opened #241 "TCXO voltage setting"
**Summary:**

The TCXO we use (TYETBCSANF-32.000000) with the Generic Node has 2.8 to 3.3V supply range. In the radio firmware we've noticed that lower voltage of 1.7V was used. Altough it did not affect the function of the device (luckily), I believe it will improve the overall device stability.

Thanks to @rayozzie for reporting it.

**What do you see now?**

These are all the occurrences of thi

[2022-08-04 10:47] azerimaker commented on #240
Thanks, @gsbwallace1996  for reporting this. I'll try to reproduce it and get back to you.

[2022-08-04 15:24] #241 closed, assigned to azerimaker

[2022-09-25 14:27] BRUNO7878 opened #246 "MIC Mismatch error over-and-over while redoing TTN Amsterdam Workshop follow-up"
Hi Orkhan,

**Summary:**
I try to redo the TTN Amsterdam workshop on connecting  the generic node to the TTIG gateway
Unfortunately I get "MIC mismatch" error is generated.

**Steps to Reproduce:**

1. Create TTS cloud account
2. Set up the gateway TTIG868 ( this seems to work as I see it in the console
3. Add Application in the console
4. Add Device in the application ( QR code does not work => M

[2022-09-27 21:47] peterl3233 commented on #145
Hi ... I am working on a design with Murata 1SJ that will use RP605 as well for similar reasons as you.  Would you mind to comment on the necessity to use 3x100uF capacitors at the input of the switch regulator.  I listened to your comments on the YouTube talk and you indicate that its for Hi-Z batteries.  I'm wondering if you still think that much capacitance is necessary - they are expensive and

[2022-10-14 09:52] azerimaker commented on #246
Closing this issue, as it was already resolved in a debug call with @BRUNO7878 .

[2022-10-14 09:52] #246 closed, assigned to nobody

[2022-10-14 09:57] azerimaker commented on #145
Hi @peterl3233 ,

sorry for the late response. In our case the decision was based on the fact that users might install battery with higher internal resistance (either low quality or highly drained). Therefore, having a bulk capacitance to buffer some of that energy is necessary. If you're using a quality battery in your design having 0805 (20ish uF) decoupling would be enough.
Please let me know i

[2022-10-18 19:07] peterl3233 commented on #145
Thanks for the response. And so I figured!   Anyway I have used the lower values and if I see any issues, Ill post to assist others. So .. we're done with this topic.

[2022-10-18 19:47] peterl3233 opened #247 "DC/DC Converters RP605Z283B available"
Given that there are chip shortages; I have 6 pieces of new and unused, unopened, RP605Z283B.  Anyone is welcome to them so long as there are no export controls.  I'd ask that you cover my original costs plus mail.